---
layout: index
title: Startseite

skills:
  - {
      label: "HTML5",
      value: 90
    }
  - {
      label: "CSS3",
      value: 80
    }
  - {
      label: "JavaScript",
      value: 30
    }
  - {
      label: "PHP7",
      value: 80
    }
  - {
      label: "SQL & Datenbanken",
      value: 60
    }

portfolio-cards:
  - {
      title: "Portfolio Item 1",
      image: { src: "/_app/assets/img/img1.jpg", srcset: "/_app/assets/img/img1.jpg 1280w, /_app/assets/img/img1-large.jpg 1920w", alt: "Portfolio Item 1 Image" },
      url: "portfolio/portfolio-item1.html",
      text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
    }
  - {
      title: "Portfolio Item 2",
      image: { src: "/_app/assets/img/img2.jpg", srcset: "/_app/assets/img/img2.jpg 1280w, /_app/assets/img/img2-large.jpg 1920w", alt: "Portfolio Item 2 Image" },
      url: "portfolio/portfolio-item2.html",
      text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
    }
  - {
      title: "Portfolio Item 3",
      image: { src: "/_app/assets/img/img3.jpg", srcset: "/_app/assets/img/img3.jpg 1280w, /_app/assets/img/img3-large.jpg 1920w", alt: "Portfolio Item 3 Image" },
      url: "portfolio/portfolio-item3.html",
      text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
    }
  - {
      title: "Portfolio Item 4",
      image: { src: "/_app/assets/img/img4.jpg", srcset: "/_app/assets/img/img4.jpg 1280w, /_app/assets/img/img4-large.jpg 1920w", alt: "Portfolio Item 4 Image" },
      url: "portfolio/portfolio-item4.html",
      text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
    }
  - {
      title: "Portfolio Item 5",
      image: { src: "/_app/assets/img/img5.jpg", srcset: "/_app/assets/img/img5.jpg 1280w, /_app/assets/img/img5-large.jpg 1920w", alt: "Portfolio Item 5 Image" },
      url: "portfolio/portfolio-item5.html",
      text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
    }
  - {
      title: "Portfolio Item 6",
      image: { src: "/_app/assets/img/img6.jpg", srcset: "/_app/assets/img/img6.jpg 1280w, /_app/assets/img/img6-large.jpg 1920w", alt: "Portfolio Item 6 Image" },
      url: "portfolio/portfolio-item6.html",
      text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."
    }

article-previews:
  - {
      title: "Article 1",
      date: "2017-04-29 19:00:00 +0200",
      date_string: "Samstag, 29.04.2017",
      image: { src: "/_app/assets/img/img1.jpg", srcset: "/_app/assets/img/img1.jpg 1280w, /_app/assets/img/img1-large.jpg 1920w", alt: "Article 1 Image" },
      url: "/blog/2017/04/29/article1.html",
      preview-text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus."
    }
  - {
      title: "Article 2",
      date: "2017-04-28 19:00:00 +0200",
      date_string: "Freitag, 28.04.2017",
      image: { src: "/_app/assets/img/img2.jpg", srcset: "/_app/assets/img/img2.jpg 1280w, /_app/assets/img/img2-large.jpg 1920w", alt: "Article 2 Image" },
      url: "/blog/2017/04/28/article2.html",
      preview-text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus."
    }

resources:
  - {
      title: "Resource 1",
      image: { src: "/_app/assets/img/img1.jpg", srcset: "/_app/assets/img/img1.jpg 1280w, /_app/assets/img/img1-large.jpg 1920w", alt: "Resource 1 Image" },
      url: "resources/resource1.html",
      text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem."
    }
  - {
      title: "Resource 2",
      image: { src: "/_app/assets/img/img2.jpg", srcset: "/_app/assets/img/img2.jpg 1280w, /_app/assets/img/img2-large.jpg 1920w", alt: "Resource 2 Image" },
      url: "resources/resource2.html",
      text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem."
    }
  - {
      title: "Resource 3",
      image: { src: "/_app/assets/img/img3.jpg", srcset: "/_app/assets/img/img3.jpg 1280w, /_app/assets/img/img3-large.jpg 1920w", alt: "Resource 3 Image" },
      url: "resources/resource3.html",
      text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem."
    }

---

<header class="header">
  <a href="/" class="logo"></a>

  <nav id="nav" class="nav nav--main">
    <div class="navbar">
      <a href="#" id="hamburger-button">
        <span class="hamburger-icon_top"></span>
        <span class="hamburger-icon"></span>
        <span class="hamburger-icon_bottom"></span>
      </a>
    </div>

    <ul>
      <li><a href="/" class="current">Startseite</a></li>
      <li><a href="portfolio.html">Portfolio</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><a href="resources.html">Ressourcen</a></li>
    </ul>
  </nav>
</header>

<main>
  <section class="welcome-section">
    <div class="welcome-section-overlay">
      <div class="welcome-heading-container rellax" data-rellax-speed="-4">
        <p><strong class="welcome-text">Willkommen auf</strong></p>
        <h1>jr-cologne.de</h1>

        <a href="#about" class="cta">Lerne mich kennen</a>
      </div>
    </div>
  </section>

  <section id="about" class="about-section">
    <h2 class="section-heading">Über mich</h2>

    <div class="about-container">
      <article class="about-text">
        <img src="_app/assets/img/logo.svg" alt="Logo">

        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          Aenean commodo ligula eget dolor. Aenean massa.
          Cum sociis natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus. Donec quam felis, ultricies nec,
          pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        </p>

        <p>
          Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
          In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
          Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
          Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate
          eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae,
          eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis,
          feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
          Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.
          Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
          Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper
          libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc,
          blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec
          odio et ante tincidunt tempus. Donec vitae sapien ut libero
          venenatis faucibus. Nullam quis ante. Etiam sit amet orci
          eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris
          sit amet nibh. Donec sodales sagittis magna. Sed consequat,
          leo eget bibendum sodales, augue velit cursus nunc,
        </p>
      </article>

      <section class="skills">
        <h3>Skills</h3>

        {% for skill in page.skills %}

          <div class="skill">
            <p><strong class="skill-label">{{ skill.label }}</strong></p>
            <div class="skill-bar">
              <div class="skill-bar-inner skill-value-{{ skill.value }}"></div>
            </div>
          </div>

        {% endfor %}

      </section>
    </div>
  </section>

  <section class="portfolio-section">
    <h2 class="section-heading">Portfolio</h2>

    <div class="showcase">

      {% for portfolio-card in page.portfolio-cards %}

        <a href="{{ portfolio-card.url }}" class="card">
          <img src="{{ portfolio-card.image.src }}" srcset="{{ portfolio-card.image.srcset }}" alt="{{ portfolio-card.image.alt }}">

          <div class="card-overlay">
            <h3 class="card-heading">{{ portfolio-card.title }}</h3>

            <p class="card-text">
              {{ portfolio-card.text }}
            </p>
          </div>
        </a>

      {% endfor %}

    </div>

    <a href="portfolio.html" class="cta cta--large">Gesamtes Portfolio</a>
  </section>

  <section class="blog-section">
    <h2 class="section-heading section-heading--small">Blog</h2>

    <div class="article-previews">

      {% for article-preview in page.article-previews %}

        <article class="article-preview">
          <header>
            <img src="{{ article-preview.image.src }}" srcset="{{ article-preview.image.srcset }}" alt="{{ article-preview.image.alt }}">

            <a href="{{ article-preview.url }}" class="article-preview-overlay">
              <h3 class="article-preview-heading">{{ article-preview.title }}</h3>
            </a>
          </header>

          <section class="article-preview-text">
            <p>
              {{ article-preview.preview-text }}
            </p>
          </section>

          <footer>
            <time datetime="{{ article-preview.date }}" class="date">{{ article-preview.date_string }}</time>

            <a href="{{ article-preview.url }}" class="cta cta--read-more">Mehr lesen</a>
          </footer>
        </article>

      {% endfor %}

    </div>

    <a href="blog.html" class="cta">Alle Artikel</a>
  </section>

  <section class="resources-section">
    <h2 class="section-heading">Ressourcen</h2>

    <section class="resources-container">

      {% for resource in page.resources %}

      <a href="{{ resource.url }}" class="resource">
        <img src="{{ resource.image.src }}" srcset="{{ resource.image.srcset }}" alt="{{ resource.image.alt }}">

        <div class="resource-overlay">
          <h3 class="resource-heading">{{ resource.title }}</h3>
        </div>
      </a>

      {% endfor %}

    </section>

    <section class="resources-info">
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
        Nulla consequat massa quis enim.
      </p>
    </section>

    <a href="resources.html" class="cta cta--large">Alle Ressourcen</a>
  </section>

  <section class="contact-section">
    <h2 class="section-heading">Kontakt</h2>

    <p class="text">Folge mir auf ...</p>

    <div class="social-container">
      <a href="https://twitter.com/{{ site.twitter_username }}/" target="_blank" rel="noopener" title="Folge mir auf Twitter" class="social-item twitter">
        <p><strong class="social-network"><span class="social-icon"></span>Twitter</strong></p>
      </a>

      <a href="https://github.com/{{ site.github_username }}/" target="_blank" rel="noopener" title="Folge mir auf GitHub" class="social-item github">
        <p><strong class="social-network"><span class="social-icon"></span>GitHub</strong></p>
      </a>

      <a href="http://codepen.io/{{ site.codepen_username }}/" target="_blank" rel="noopener" title="Folge mir auf CodePen" class="social-item codepen">
        <p><strong class="social-network"><span class="social-icon"></span>CodePen</strong></p>
      </a>
    </div>

    <p class="text">oder schreibe mir eine E-Mail</p>

    <a href="mailto:{{ site.email }}" class="email">kontakt@jr-cologne.de</a>
  </section>
</main>

<footer class="footer">
  <div class="footer-logo-nav-container">
    <a href="/" class="logo"></a>

    <nav class="nav nav--footer">
      <ul>
        <li><a href="/" class="current">Startseite</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="resources.html">Ressourcen</a></li>
      </ul>
    </nav>
  </div>

  <nav class="nav nav--legal">
    <ul>
      <li><a href="impressum.html">Impressum</a></li>
      <li><a href="datenschutz.html">Datenschutz</a></li>
    </ul>
  </nav>
</footer>
