---
layout: tags
title: Tags
canonical: tags.html
---

<header class="header">
  <a href="/" class="logo" title="jr-cologne.de Logo"></a>

  <nav id="nav" class="nav nav--main">
    <div class="navbar">
      <a href="#" id="hamburger-button" title="Navigation">
        <span class="hamburger-icon_top"></span>
        <span class="hamburger-icon"></span>
        <span class="hamburger-icon_bottom"></span>
      </a>
    </div>

    <ul>
      <li><a href="/">Startseite</a></li>
      <li><a href="portfolio.html">Portfolio</a></li>
      <li><a href="blog.html" class="current">Blog</a></li>
      <li><a href="resources.html">Ressourcen</a></li>
    </ul>
  </nav>
</header>

<main>
  <h1 class="section-heading section-heading--small">{{ page.title }}</h1>

  <p><strong class="tags-text">Alle Tags von A bis Z</strong></p>

  <div class="tag-previews">

    {% if page.tag-previews == null %}
      <p style="text-align: center">Es existieren zurzeit noch keine Tags</p>
    {% else %}
      {% for tag-preview in page.tag-previews %}

        <div class="tag-preview">
          <header>
            <a href="{{ tag-preview.url }}" class="tag {{ tag-preview.add_class }}">{{ tag-preview.title }}</a>
          </header>

          <section class="tag-preview-text">
            <p>
              {{ tag-preview.text }}
            </p>
          </section>

          <footer>
            <a href="{{ tag-preview.url }}" class="cta cta--small cta--read-more">Mehr lesen</a>
          </footer>
        </div>

      {% endfor %}
    {% endif %}

  </div>
</main>

<footer class="footer footer--white">
  <div class="footer-logo-nav-container">
    <a href="/" class="logo" title="jr-cologne.de Logo"></a>

    <nav class="nav nav--footer">
      <ul>
        <li><a href="/">Startseite</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="blog.html" class="current">Blog</a></li>
        <li><a href="resources.html">Ressourcen</a></li>
      </ul>
    </nav>
  </div>

  <nav class="nav nav--legal">
    <ul>
      <li><a href="impressum.html">Impressum</a></li>
      <li><a href="datenschutz.html">Datenschutz</a></li>
    </ul>
  </nav>
</footer>
