<figure class="article-content-image">
  <div class="article-content-image-wrap">
    <noscript class="loaded"><img src="{{ include.src }}" srcset="{{ include.srcset }}" alt="{{ include.alt }}"></noscript>
    <img data-src="{{ include.src }}" data-srcset="{{ include.srcset }}" alt="{{ include.alt }}">
  </div>

  <figcaption class="article-content-image-info">
    <p class="article-content-image-description">{{ include.description }}</p>

    <p><small class="article-content-image-source">
      {{ include.source }}
    </small></p>
  </figcaption>
</figure>
