<footer>
  <p><strong>Immer auf dem neusten Stand bleiben...</strong></p>
  <section class="contact">
    <div class="social">
      <a href="https://github.com/jr-cologne/" target="_blank" title="Folge mir auf GitHub"><img src="assets/img/min/icons/github-icon.svg" alt="GitHub Icon"></a>
      <a href="http://codepen.io/jr-cologne/" target="_blank" title="Folge mir auf CodePen"><img src="assets/img/min/icons/codepen-icon.svg" alt="CodePen Icon"></a>
      <a href="https://twitter.com/jrcologne" target="_blank" title="Folge mir auf Twitter"><img src="assets/img/min/icons/twitter-icon.svg" alt="Twitter Icon"></a>
    </div>
    <div class="other">
      <a href="mailto:{{ site.email }}" title="Schreibe mir eine E-Mail"><span class="text">{{ site.email }}</span><img src="assets/img/min/icons/mail-icon.svg" alt="E-Mail Icon"></a>
    </div>
  </section>

  <section class="legal">
    <p><small><a href="impressum.html">Impressum</a> | <a href="datenschutz.html">Datenschutz</a></small></p>
  </section>
</footer>
