<a href="#top" id="back-to-top-button" class="back-to-top-button">Nach oben</a>

<!-- Normalize.css (https://github.com/necolas/normalize.css/) -->
<link type="text/css" href="/node_modules/normalize.css/normalize.css" rel="stylesheet">

<!-- nav.js -->
<script async src="/_app/assets/js/nav.js"></script>
<!-- back-to-top.js -->
<script async src="/_app/assets/js/back-to-top.js"></script>

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto-Slab:400,700" rel="stylesheet">
