<a href="#top" id="back-to-top-button" class="back-to-top-button">Nach oben</a>

<div id="outdated">
  <h6>Ihr Browser ist veraltet!</h6>
  <p>Bitte aktualisieren Sie Ihren Browser, um diese Website korrekt darzustellen. <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/de">Den Browser jetzt aktualisieren </a></p>
  <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Schließen">&times;</a></p>
</div>

<!-- Normalize.css (https://github.com/necolas/normalize.css/) -->
<link type="text/css" href="/node_modules/normalize.css/normalize.css" rel="stylesheet">

<!-- nav.js -->
<script async src="/_app/assets/js/nav.js"></script>

<!-- jQuery (jquery.com) -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<!-- Smooth Scrolling -->
<script src="/_app/assets/js/smooth-scrolling.js"></script>

<!-- back-to-top.js -->
<script async src="/_app/assets/js/back-to-top.js"></script>

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto-Slab:400,700" rel="stylesheet">

<!-- outdated-browser (https://github.com/burocratik/outdated-browser) -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/outdated-browser/1.1.5/outdatedbrowser.min.css" rel="stylesheet">
<script async src="https://cdnjs.cloudflare.com/ajax/libs/outdated-browser/1.1.5/outdatedbrowser.min.js"></script>
<script async src="/_app/assets/js/outdated-browser.js"></script>
