<meta charset="utf-8">
<title>{{ page.title }} - {{ site.title }}</title>

{{ include.robots }}
<link rel="canonical" href="{{ site.url }}/{{ page.canonical }}">

{% if page.description == null %}
  <meta name="description" content="{{ site.description }}">
{% else %}
  <meta name="description" content="{{ page.description }}">
{% endif %}

<meta name="keywords" content="{{ site.keywords }}">

<meta name="viewport" content="width=device-width,initial-scale=1.0">

<link rel="manifest" href="/manifest.json" type="application/manifest+json">

<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">

<meta name="application-name" content="{{ site.title }}">
<meta name="apple-mobile-web-app-title" content="{{ site.title }}">

<meta name="msapplication-starturl" content="/?pwa=true">

<meta name="theme-color" content="{{ site.theme-color }}">
<meta name="msapplication-navbutton-color" content="{{ site.theme-color }}">
<meta name="msapplication-TileColor" content="{{ site.theme-color }}">

<link rel="shortcut icon" href="/_app/assets/img/icons/favicon.ico" type="image/x-icon">
<link rel="icon" href="/_app/assets/img/icons/favicon.ico" type="image/x-icon">
<link rel="icon" type="image/png" sizes="32x32" href="/_app/assets/img/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/_app/assets/img/icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/_app/assets/img/icons/favicon-16x16.png">
<meta name="msapplication-TileImage" content="/_app/assets/img/icons/ms-icon-144x144.png">
<meta name="msapplication-TileImage" content="/_app/assets/img/icons/ms-icon-70x70.png">
<meta name="msapplication-TileImage" content="/_app/assets/img/icons/ms-icon-150x150.png">
<meta name="msapplication-TileImage" content="/_app/assets/img/icons/ms-icon-310x310.png">
<link rel="apple-touch-icon" sizes="57x57" href="/_app/assets/img/icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/_app/assets/img/icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/_app/assets/img/icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/_app/assets/img/icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/_app/assets/img/icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/_app/assets/img/icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/_app/assets/img/icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/_app/assets/img/icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/_app/assets/img/icons/apple-icon-180x180.png">
<link rel="apple-touch-icon" href="/_app/assets/img/icons/apple-icon-precomposed.png">
<link rel="apple-touch-icon" href="/_app/assets/img/icons/apple-icon.png">
<link rel="icon" type="image/png" sizes="192x192" href="/_app/assets/img/icons/android-icon-192x192.png">

<link type="text/css" href="/_app/assets/css/{{ include.stylesheet }}.css" rel="stylesheet">

<!-- Matomo -->
{% include matomo.html %}

<!-- Cookie Consent plugin by Insites - https://cookieconsent.insites.com/ -->
<link rel="stylesheet" href="/node_modules/cookieconsent/build/cookieconsent.min.css">
<script async src="/node_modules/cookieconsent/build/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#000"
    },
    "button": {
      "background": "#f1d600"
    }
  },
  "theme": "classic",
  "position": "top",
  "static": true,
  "content": {
    "message": "Diese Website benutzt Cookies. Wenn Sie die Website weiter nutzen, stimmen Sie der Verwendung von Cookies zu.",
    "dismiss": "Ok",
    "link": "Mehr Infos",
    "href": "/datenschutz.html"
  }
})});
</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "JR Cologne",
    "logo": "https://res.cloudinary.com/jr-cologne-de/image/upload/logo.png",
    "url": "{{ site.url }}/",
    "sameAs": [
      "https://twitter.com/{{ site.twitter_username }}/",
      "https://github.com/{{ site.github_username }}/",
      "https://codepen.io/{{ site.codepen_username }}/"
    ]
  }
  </script>
