<meta charset="utf-8">
<title>{{ page.title }} - {{ site.title }}</title>

<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

{{ include.robots }}
<link rel="canonical" href="{{ site.url }}/{{ page.canonical }}">
<meta name="description" content="Du bist ebenfalls ein kleiner Webfanatiker und liebst es, Webseiten zu designen sowie zu entwickeln? Dann bist du bei mir genau richtig!">
<meta name="keywords" content="webentwicklung,webdesign,javascript,cms,mysql,php,php7,sql,css,css3,jquery,html5,ide,content management system,programmieren,sass,js,ux design,ui,ux,ui design,php programmierung,webseiten erstellen,web,editor,internet,css tutorial,css3 tutorial,html tutorial,html5 tutorial,javascript tutorial,js tutorial,php tutorial,sql tutorial,tutorials">

<meta name="viewport" content="width=device-width,initial-scale=1.0">

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

<link type="text/css" href="_app/assets/css/{{ include.stylesheet }}.css" rel="stylesheet">

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setCookieDomain", "*.jr-cologne.de"]);
  _paq.push(["setDomains", ["*.jr-cologne.de"]]);
  _paq.push(["setDoNotTrack", true]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//jr-cologne.de/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
