---
layout: resource
title: t3n
description: t3n ist ein Magazin für Tech-News, das perfekt für die tägliche Dosis an Nachrichten aus der Tech-Welt geeignet ist. Somit geht es bei t3n also um Startups, Marketing, E-Commerce, Social-Media, Webentwicklung und noch einiges mehr.
image: "https://res.cloudinary.com/jr-cologne-de/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_1920/t3n.png"
image-small: "https://res.cloudinary.com/jr-cologne-de/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_1280/t3n.png"
canonical: resources/t3n.html
---

<header class="header">
  <a href="/" class="logo" title="jr-cologne.de Logo"></a>

  <nav id="nav" class="nav nav--main">
    <div class="navbar">
      <a href="#" id="hamburger-button" title="Navigation">
        <span class="hamburger-icon_top"></span>
        <span class="hamburger-icon"></span>
        <span class="hamburger-icon_bottom"></span>
      </a>
    </div>

    <ul>
      <li><a href="/">Startseite</a></li>
      <li><a href="/portfolio.html">Portfolio</a></li>
      <li><a href="/blog.html">Blog</a></li>
      <li><a href="/resources.html" class="current">Ressourcen</a></li>
    </ul>
  </nav>
</header>

<main>
  {% include back-button.html path='../resources.html' text='Zurück zu den Ressourcen' %}

  <article class="article">
    <header class="article-header">
      <h1 class="article-heading">{{ page.title }}</h1>

      <div id="article-image" class="article-image" data-article-image-effect="false" style="background-image: url('{{ page.image }}')"></div>
    </header>

    <section class="article-text">
      <p>
        Kennt ihr das auch? Ihr sitzt ausnahmsweise mal wieder vor
        diesem altmodischen Gerät namens Fernseher, schaut Nachrichten
        und seid wieder mal enttäuscht, dass über die neusten Ereignisse
        in der Tech-Welt kein Wort verloren wird.
      </p>

      <p>
        Oder ihr wagt es sogar mal, diese ominöse Tageszeitung aus Papier,
        die doch immer so nervig riesig und kaum zu handlen ist,
        in die Hand zu nehmen. Auch hier sind die Nachrichten aus der
        Tech-Welt eher schwer zu finden oder gar überhaupt nicht vorhanden.
      </p>

      <p>
        Klar, die Zeiten ändern sich und auch die Medien verpassen den
        digitalen Wandel nicht komplett. Dennoch: Desto detaillierter und
        spezieller die Ereignisse oder Themen sind, desto weniger und
        oberflächlicher werden sie von den gewöhnlichen Medien behandelt.
      </p>

      <p>
        Was macht man also? Man weicht auf alternative Magazine,
        Zeitungen und Online-News-Portale aus,
        die sich auf das entsprechende Gebiet spezialisiert haben.
      </p>

      <p>
        Ein relativ bekanntes Magazin ist im Punkto Tech-News dann
        ganz klar <a href="https://t3n.de/" target="_blank" rel="noopener">t3n</a>. <a href="https://t3n.de/" target="_blank" rel="noopener">t3n</a> setzt sich im Wesentlichen aus zwei Säulen zusammen.
        Die eine Säule stellt das Magazin dar, das man sich ganz klassisch
        in Zeitschrift-Form kostenpflichtig nach Hause ordern kann.
      </p>

      <p>
        Die zweite Sparte sind die Online-Aktivitäten von <a href="https://t3n.de/" target="_blank" rel="noopener">t3n</a>.
        Hierzu gehört die Website <a href="https://t3n.de/" target="_blank" rel="noopener">t3n.de</a>, auf der täglich zahlreiche
        Artikel rund um die neusten Ereignisse erscheinen.
        Mittlerweile habe ich mir allerdings angewöhnt,
        nicht mehr jedes Mal den Browser zu öffnen und diese Website
        für die neusten Nachrichten aufzusuchen. Stattdessen bewege ich mich,
        was das angeht, nur noch <a href="https://twitter.com/t3n" target="_blank" rel="noopener">auf Twitter und schaue mir dort die
        t3n-Nachrichten an</a>, was ich übrigens jedem nur empfehlen kann,
        der nicht manuell immer nach Nachrichten suchen möchte,
        sondern schlicht und ergreifend durch die Twitter-Timeline
        scrollen möchte, um auf dem Laufen zu bleiben,
        und gerne alles auf einem Blick hat.
      </p>

      <p>
        Im Februar 2018 wurde dann im Rahmen eines Rebrandings das sogenannte <a href="https://go.t3n.de/pioneers-network" target="_blank" rel="noopener">t3n Pioneers Network</a> angekündigt.
        Was sich genau dahinter verbirgt, ist noch unklar. Klar ist allerdings, dass es sich um eine Art Community-Plattform handeln wird.
      </p>

      <blockquote cite="https://t3n.de/news/t3n-neuem-logo-netzwerk-magazin-922754/">
        <p>
          Das Pioneers Network wird ein Ort, an dem digitale Pioniere ihr Wissen teilen,
          voneinander lernen, schneller informiert sind und sich gegenseitig inspirieren.
        </p>

        <cite>Andy Lenz im <a href="https://t3n.de/news/t3n-neuem-logo-netzwerk-magazin-922754/" target="_blank" rel="noopener">t3n-Artikel "Du bist t3n! Mit neuem Logo, Netzwerk und Magazin in eine neue Ära"</a></cite>
      </blockquote>

      {% include article-content-image.html src="https://res.cloudinary.com/jr-cologne-de/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_1280/t3n-pioneers-network.png" srcset="https://res.cloudinary.com/jr-cologne-de/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_1280/t3n-pioneers-network.png 1280w, https://res.cloudinary.com/jr-cologne-de/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_1920/t3n-pioneers-network.png 1920w" alt="Screenshot der Landing Page zum t3n Pioneers Network" description="Hier kann man sich aktuell lediglich für das bald erscheinende t3n Pioneers Network anmelden." source='Screenshot: <a href="https://go.t3n.de/pioneers-network" target="_blank" rel="noopener">t3n.de</a>' %}

      <p>
        Zuletzt noch eine kurze Übersicht über die groben Themen,
        die bei <a href="https://t3n.de/" target="_blank" rel="noopener">t3n</a> im Vordergrund der Berichterstattung stehen:
      </p>

      <ul>
        <li>Digitale Wirtschaft</li>
        <li>Software & Infrastruktur</li>
        <li>Entwicklung & Design</li>
        <li>Marketing</li>
        <li>Gadgets & Lifestyle</li>
        <li>Startups</li>
        <li>Karriere</li>
        <li>E-Commerce</li>
        <li>Mobilität</li>
        <li>Digitale Gesellschaft</li>
      </ul>

      <p>
        Alles in allem ist das Online-Magazin also super für die täglichen
        Tech-Nachrichten. Wer auf dem Laufenden bleiben möchte,
        ist dort stets an der richtigen Stelle.
      </p>

      <p><small class="source">Titelbild: <a href="http://t3n.de/" target="_blank" rel="noopener">t3n</a> Logo</small></p>
      <p><small>t3n war so nett und hat mir die Erlaubnis erteilt, das Logo zu verwenden. An dieser Stelle vielen Dank dafür!</small></p>
    </section>
  </article>
</main>

<footer class="footer footer--white">
  <div class="footer-logo-nav-container">
    <a href="/" class="logo" title="jr-cologne.de Logo"></a>

    <nav class="nav nav--footer">
      <ul>
        <li><a href="/">Startseite</a></li>
        <li><a href="/portfolio.html">Portfolio</a></li>
        <li><a href="/blog.html">Blog</a></li>
        <li><a href="/resources.html" class="current">Ressourcen</a></li>
      </ul>
    </nav>
  </div>

  <nav class="nav nav--legal">
    <ul>
      <li><a href="/impressum.html">Impressum</a></li>
      <li><a href="/datenschutz.html">Datenschutz</a></li>
    </ul>
  </nav>
</footer>
