.back-to-top-button
  display: none
  background-color: rgba(0,0,0,0.7)
  color: white
  font-size: 0.8rem
  position: fixed
  right: 3%
  bottom: 3%
  padding: 0.8em

  &:hover
    color: $orange

  &.show
    display: block
