.section-heading
  color: $blue
  text-align: center
  padding: 1.5% 0 1% 0
  font-size: 2rem
  margin-bottom: 6%

  &::after
    content: ''
    display: block
    margin: auto
    background-color: $blue
    width: 2em
    padding: 0.1em

// Media Queries Section Heading //
@import '../media/_media_section-heading.sass'
