// General Styles //
@import '../_style'

// Page Styles //
.text, .error
  text-align: center

.error
  display: block
  margin-top: 4%

form
  margin-top: 4%

  label, input, textarea
    display: block
    width: 100%
    padding: 1%

  input, textarea
    outline: none
    border: none
    transition: all .3s ease-in-out
    box-shadow: 5px 5px 7.5px rgba(0,0,0,0.3)

    &:focus
      box-shadow: 10px 10px 15px rgba(0,0,0,0.1)
      transform: scale(1.0005)

  label
    padding-left: 0
    margin-top: 1.5%
    transition: all .2s linear

  input[type="submit"]
    width: 25%
    margin: 3.5% auto auto auto
    padding: 1.2em
    cursor: pointer
    background-color: $blue
    color: white
    text-align: center
    text-transform: uppercase
    font-size: 1.3rem
    letter-spacing: 0.105em
    white-space: normal
    border-radius: 15px
    box-shadow: 0 15px 10px -10px rgba(0,0,0,0.4)

    &:hover
      box-shadow: 0 35px 20px -20px rgba(0,0,0,0.2)
      transform: scale(1.1) translateY(-10px)

// Media Queries Contact Page //
@import '../media/_media_contact.sass'
