// General Styles //
@import '../_style'

// Page Styles //
// General Styles for Index Page //
main > section
  padding: 0 5% 6% 5%

  &:nth-child(even)
    background-color: white

// Welcome Section //
.welcome-section
  background:
    image: url('../img/welcome-section-bg.jpg')
    size: cover
    position: 12% center
    repeat: no-repeat
  height: calc(100vh - 80px)
  padding: 0

  .welcome-section-overlay
    display: block
    height: inherit
    background-color: rgba(0,0,0,0.5)
    text-align: center
    position: relative

  .welcome-heading-container
    position: relative
    top: 40%
    transform: translateY(-50%)

  .welcome-text, h1
    display: block
    font-family: $secondary-font
    font-weight: normal
    margin: 0
    color: $white-gray

  .welcome-text
    font-size: 3.5rem
    margin-bottom: 1%

  h1
    font-size: 4rem

// About Section //
.about-section
  .about-container
    display: flex
    justify-content: space-between

  .about-text, .skills
    width: 47%

  .about-text
    img
      width: 150px
      float: left
      margin: 0 3% 1.2% 0

  .skills
    h3
      font-family: $main-font
      font-weight: normal
      font-size: 1.4rem
      margin-bottom: 4%

// Portfolio Section //
.portfolio-section
  .showcase
    display: flex
    flex-wrap: wrap

    .card
      display: block
      width: 33.333%
      color: white
      position: relative
      overflow: hidden

      &:hover
        .card-overlay
          background-color: rgba(0,0,0,0.5)

        .card-heading, .card-text
          opacity: 1
          visibility: visible
          top: 0

      img
        width: 100%

    .card-overlay, .card-heading, .card-text
      transition: all .4s ease-in-out

    .card-overlay
      background-color: rgba(0,0,0,0.3)
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center

    .card-heading, .card-text
      opacity: 0
      visibility: hidden
      position: relative
      top: -100%

    .card-heading
      font-size: 1.4rem
      font-weight: normal
      text-align: center
      margin-bottom: 3%

    .card-text
      width: 70%

// Blog Section //
.blog-section
  padding: 0 13% 6% 13%

  .article-previews
    display: flex
    justify-content: space-between

// Resources Section //
.resources-section
  padding: 0 13% 6% 13%

  .resources-container
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin-bottom: 5%

    .resource
      display: block
      width: 28%
      color: white
      position: relative
      box-shadow: 0px 3px 6px rgba(0,0,0,0.3)
      overflow: hidden

      &:hover img
        transform: scale(1.05)

      img
        width: 100%
        transform: scale(1)
        transition: all .3s ease-in-out

    .resource-overlay
      background-color: rgba(0,0,0,0.5)
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      display: flex
      justify-content: center
      align-items: center
      padding: 2%

    .resource-heading
      font-size: 1.4rem
      font-weight: normal
      text-align: center

  .resources-info
    width: 70%
    margin: auto

// Media Queries Index Page //
@import '../media/_media_index'
