// General Styles //
@import '../_style'

// Page Styles //
.legal
  h2, h3, h4, h5
    font:
      size: 1.4rem
      family: $main-font
    margin-bottom: 1%

  h3
    font-size: 1.2rem
    margin-bottom: 0.5%
  
  h4
    font-size: 1.07rem
    margin-bottom: 0.3%

  h5
    font-size: 1rem
    margin-bottom: 0.2%

  ul, .contact, .disclaimer p, > p
    margin-bottom: 2%

  ul
    list-style: none

  > ul
    list-style-type: disc
    list-style-position: inside

  .source
    font-size: 1rem

// Media Queries Legal Page //
@import '../media/_media_legal'
