// Standard Styles //
@import '../_style'
// Back-Button //
@import '../modules/_back-button'

main
  margin-top: 3%
  font-size: 1rem

  h2
    margin-top: 1.5%

    &:first-child
      margin-top: 0
      margin-bottom: 1.5%

  h3
    margin-top: 1%

  h4
    margin-top: 0.75%

  p, ul
    margin-top: 1%

.datenschutz
  ul
    padding-left: 3%

    li
      list-style: inside disc

  iframe
    margin-top: 1%


// Media Queries //
@import '../media/_media_legal'
