// General Styles //
@import '../_style'

// Page Styles //
main
  padding: 0 5% 6% 5%

.showcase
  display: flex
  justify-content: space-around
  flex-wrap: wrap

// Media Queries Portfolio Page //
@import '../media/_media_portfolio'
