---
layout: post
title: Willkommen auf jr-cologne.de - Das erwartet euch
canonical: blog/2017/10/31/willkommen-auf-jr-cologne-de.html
date: "2017-10-31 12:00:00 +0100"
date_string: "Dienstag, 31.10.2017"
article-image: "https://res.cloudinary.com/jr-cologne-de/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_1920/welcome-section-bg.jpg"
article-image-small: "https://res.cloudinary.com/jr-cologne-de/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_1280/welcome-section-bg.jpg"
image: { src: "https://res.cloudinary.com/jr-cologne-de/image/upload/ar_1.5,c_scale,f_auto,fl_lossy,q_auto,w_1280/welcome-section-bg.jpg", srcset: "https://res.cloudinary.com/jr-cologne-de/image/upload/ar_1.5,c_scale,f_auto,fl_lossy,q_auto,w_1280/welcome-section-bg.jpg 1280w, https://res.cloudinary.com/jr-cologne-de/image/upload/ar_1.5,c_scale,f_auto,fl_lossy,q_auto,w_1920/welcome-section-bg.jpg 1920w", alt: "Willkommen auf jr-cologne.de - Das erwartet euch Vorschaubild" }
description: "Endlich ist es soweit. Ich freue mich sehr, euch auf meiner Website jr-cologne.de begrüßen zu dürfen. Den ersten Artikel möchte ich heute erstmal nutzen, um ein wenig über den Hintergrund und die Entstehung dieser Website zu erzählen sowie euch in meine Pläne für jr-cologne.de einzuweihen. Seid gespannt!"
categories: blog
---

<header class="header">
  <a href="/" class="logo" title="jr-cologne.de Logo"></a>

  <nav id="nav" class="nav nav--main">
    <div class="navbar">
      <a href="#" id="hamburger-button" title="Navigation">
        <span class="hamburger-icon_top"></span>
        <span class="hamburger-icon"></span>
        <span class="hamburger-icon_bottom"></span>
      </a>
    </div>

    <ul>
      <li><a href="/">Startseite</a></li>
      <li><a href="/portfolio.html">Portfolio</a></li>
      <li><a href="/blog.html" class="current">Blog</a></li>
      <li><a href="/resources.html">Ressourcen</a></li>
    </ul>
  </nav>
</header>

<main>
  {% include article-top-bar.html %}

  <article class="article">
    <header class="article-header">
      <h1 class="article-heading">{{ page.title }}</h1>

      <div id="article-image" class="article-image" style="background-image: url('{{ page.article-image }}')"></div>
    </header>

    <section class="article-text">
      <p>
        Endlich ist es soweit. Ich freue mich sehr, euch auf meiner
        Website <a href="/">jr-cologne.de</a> begrüßen zu dürfen.
      </p>

      <p>
        Den ersten Artikel möchte ich heute erstmal nutzen, um ein wenig
        über den Hintergrund und die Entstehung dieser Website zu erzählen
        sowie euch in meine Pläne für <a href="/">jr-cologne.de</a> einzuweihen. Seid gespannt!
      </p>

      <h3>Der Hintergrund und die Entstehung</h3>

      <p>
        Beginnen möchte ich mit der Entstehungsgeschichte,
        welche für meinen Geschmack etwas zu lange in die Vergangenheit
        zurückgeht. Die ersten Ideen zu dieser Website entstanden nämlich
        schon im April dieses Jahres, also vor ca. 7 Monaten.
      </p>

      <p>
        Im Grunde begann alles mit der Tatsache, dass ich ab und zu immer
        mal wieder jemandem bei der Erstellung seiner Website unter die Arme
        gegriffen habe. Als Dankeschön dafür bekam ich dann eine
        Domain inkl. Webspace für 1 Jahr geschenkt.
      </p>

      <p>
        Aber was will man mit Webspace und einer Domain anfangen,
        wenn man eigentlich keine Website hat? Ich beschloss also,
        diese günstige Gelegenheit zu ergreifen und meine erste
        richtige Website ins Leben zu rufen.
      </p>

      <p>
        Relativ schnell begann ich dann mit dem Design einer kleinen
        Überbrückungsseite für die Entstehungsphase der eigentlichen Website,
        welche wenige Tage später bereits online ging und so konnte ich
        zumindest denjenigen, die sich aus irgendeinem Grund zu mir verirrten,
        einen ersten kleinen Eindruck sowie ein
        paar Informationen an die Hand geben.
      </p>

      {% include article-content-image.html src="https://res.cloudinary.com/jr-cologne-de/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_1280/coming-soon-jr-cologne-de.png" srcset="https://res.cloudinary.com/jr-cologne-de/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_1280/coming-soon-jr-cologne-de.png 1280w, https://res.cloudinary.com/jr-cologne-de/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_1920/coming-soon-jr-cologne-de.png 1920w" alt="Die Überbrückungsseite für die Entstehungsphase der eigentlichen Website" description="So sah die Überbrückungsseite für die Entstehungsphase der eigentlichen Website aus" source='Bild: <a href="/" target="_blank" rel="noopener">jr-cologne.de</a>' %}

      <p>
        Gleichzeitig machte ich mir Gedanken, wie ich die letztendliche
        Website gestalten sollte, welche Ziele ich damit verfolgen möchte usw.
      </p>

      <p>
        Das Ergebnis war in kurzer Fassung im Prinzip eine relativ einfache,
        schlichte und moderne Website, welche ich anstreben wollte
        und hauptsächlich den Zweck erfüllen sollte, eine Art von zentraler
        Anlaufstelle für alles zu sein, was ich im Bereich
        meines großen Hobbys, der Webentwicklung, so im großen
        weltweiten Netz veranstalte. Dazu gehörte vor allen Dingen die
        Präsentation meiner Arbeiten, die Ansammlung von Ressourcen,
        die mir den Alltag verschönern oder erleichtern und zuletzt auch
        eine Möglichkeit über einen Blog, mein Wissen mit anderen zu teilen.
      </p>

      <p>
        Letzteres ist mir vor allem auch ein Anliegen, weil ich selber
        den harten und steinigen Weg gegangen bin, was das Erlernen
        meines Hobbys angeht. Mir ist es also besonders wichtig,
        anderen deutschsprachigen Interessierten in diesem Bereich,
        diesen Weg ein Stück weit zu erleichtern.
      </p>

      <p>
        Nun, gut. Ich begann also Anfang Mai mit dem Design meiner
        Website und plante mit einem Release in den Monaten Juni oder Juli.
        Wie ihr wisst, klappte das offensichtlich nicht ganz.
        Um genau zu sein habe ich das Ziel sogar deutlich verfehlt.
        Der Grund war im Wesentlichen einfach mangelnde Zeit sowie der Wille,
        etwas Vernünftiges auf die Beine zu stellen, sodass ich mir
        wirklich viel Zeit für das Design gelassen habe,
        was ja eigentlich auch gut ist. Auf alle Fälle kam es so dazu,
        dass das finale Design erst am 24. Juni feststand.
        Ein Release im Monat Juni fiel damit schon mal komplett flach
        und selbst Juli war eher unwahrscheinlich,
        wobei ich das Ziel trotzdem nicht ganz aufgab.
      </p>

      <p>
        Die Folge war ein Monat Pause bis ich endlich mit der
        tatsächlichen Entwicklung der Website startete. Auch hier waren
        es wieder zeitliche Gründe. Unter anderem kam z.B. der Sommerurlaub
        dazwischen, weshalb ich mich entschloss, erst nach der Rückkehr
        von der britischen Insel zu beginnen.
      </p>

      <p>
        Anschließend ging es im Großen und Ganzen eigentlich
        sehr gut voran, da ich verhältnismäßig viel Zeit zur Verfügung
        hatte und fast jeden Tag an meinem großen Projekt arbeiten konnte.
        Im Zeitraum vom 24. Juli bis zum 29. August schoss meine Aktivität
        auf <a href="/resources/github.html">GitHub</a> dementsprechend in die Höhe, was genau die Zeit war,
        in der ich an meiner Website “herumgedoktert” habe.
        Wer sich also über diesen grünen Klotz des Spätsommers in der
        Contributions-Grafik auf meinem <a href="https://github.com/jr-cologne" target="_blank" rel="noopener">GitHub-Profil</a> wundert,
        weiß jetzt, worum es sich dabei handelt. ;D
      </p>

      {% include article-content-image.html src="https://res.cloudinary.com/jr-cologne-de/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_1280/github-profil-halloween-contributions.png" srcset="https://res.cloudinary.com/jr-cologne-de/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_1280/github-profil-halloween-contributions.png 1280w, https://res.cloudinary.com/jr-cologne-de/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_1920/github-profil-halloween-contributions.png 1920w" alt="Wegen Halloween erstrahlt die Contributions-Grafik in den passenden Farben" description="Wegen Halloween erstrahlt die Contributions-Grafik in den passenden Farben." source='Screenshot: <a href="https://github.com/jr-cologne" target="_blank" rel="noopener">GitHub-Profilseite (@jr-cologne)</a>' %}

      <p>
        Wer sich genauer für die Entstehung bzw. die Technik,
        die hinter <a href="/">jr-cologne.de</a> steckt, interessiert, kann sich
        dementsprechend gerne mal im <a href="https://github.com/jr-cologne/jr-cologne.de" target="_blank" rel="noopener">Repository der Website</a> umschauen,
        das ich auch jetzt nach dem Release vermutlich weiter pflegen werde.
      </p>

      <h3>Meine Pläne - Das erwartet euch</h3>

      <p>
        Jetzt ist aber mal gut, sonst schlaft ihr mir nachher noch
        vor dem Bildschirm ein. Kommen wir zu der heute endlich
        erschienenen Website sowie den Plänen, die ich für diese
        wunderschöne Website habe.
      </p>

      <h4>Kleine Reise durch die Welt von <a href="/">jr-cologne.de</a></h4>

      <p>
        Ich beginne mal mit einer kurzen Führung durch die verschiedenen Seiten.
      </p>

      <p>
        Auf der <a href="/">Startseite</a> werdet ihr von dem atemberaubenden Rheinpanorama
        mit Blick auf die Hohenzollernbrücke sowie den Kölner Dom begrüßt.
        Wenn ihr todesmutig auf den CTA mit der Aufschrift "Lerne mich kennen"
        klickt, werdet ihr sogar zum nächsten Abschnitt getragen:
        Nämlich der kleinen Vorstellung meiner Wenigkeit.
        Hier könnt ihr euch einen kleinen Text über mich zu Gemüte
        führen und bekommt zusätzlich noch eine grobe Übersicht über meine
        Skills bzw. mein Wissen in den einzelnen Bereichen,
        mit denen ich mich hauptsächlich auseinandersetze.
      </p>

      {% include article-content-image.html src="https://res.cloudinary.com/jr-cologne-de/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_1280/welcome-section-bg.jpg" srcset="https://res.cloudinary.com/jr-cologne-de/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_1280/welcome-section-bg.jpg 1280w, https://res.cloudinary.com/jr-cologne-de/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_1920/welcome-section-bg.jpg 1920w" alt="Kölner Rheinpanorama mit Blick auf die Hohenzollernbrücke und den Kölner Dom" description="Ist das nicht schön?" source='Bild: <a href="https://pixabay.com/de/k%C3%B6ln-dom-rhein-k%C3%B6lner-dom-kirche-2151540/" target="_blank" rel="noopener">Pixabay</a>' %}

      <p>
        Danach geht es weiter mit einer kleinen Auswahl meines <a href="/portfolio.html">Portfolios</a>,
        das aktuell noch so leer ist, dass die “kleine” Auswahl eigentlich
        die komplette Auswahl beinhaltet. Wenn ihr mit eurer Maus über
        die Karten fahrt, wird ein kleiner Teaser-Text eingeblendet
        und per Klick auf die Karte könnt ihr euch den jeweiligen Teil
        meines Portfolios näher anschauen. Über den Button darunter
        ist es euch ebenfalls noch möglich, zur <a href="/portfolio.html">Seite mit
        allen Portfolio-Einträgen</a> zu gelangen.
      </p>

      <p>
        In der nächsten Sektion geht es dann weiter mit einer
        kurzen Übersicht über den <a href="/blog.html">Blog</a>, wo ich immer die beiden
        neuesten Artikel, leicht zu finden, platzieren werde.
        Wundert euch nicht darüber, dass dort aktuell schon ein
        Platzhalter für den ersten richtigen Artikel vorhanden ist.
        Auch bei der Blog-Sektion habt ihr auf alle Fälle die Möglichkeit,
        ein bestimmtes Element näher zu betrachten,
        sprich den ganzen Artikel zu lesen, oder eine Auflistung aller
        Einträge auf der separaten Seite per Button-Klick zu öffnen.
      </p>

      <p>
        Nun kommen wir zu den <a href="/resources.html">Ressourcen</a>, die aktuell mit Abstand
        am besten gefüllt sind. Hier könnt ihr euch schon ganz gut umschauen.
        Der Klick auf eine der drei angeteaserten Ressourcen oder
        auf den Button mit der Aufschrift “Alle Ressourcen” lohnt sich
        hier dementsprechend besonders.
        Wie der Text unter den drei Karten verrät, handelt es sich bei
        den Ressourcen nämlich um eine Sammelstelle für nützliche Tools,
        Tutorials, Code Snippets und vielem mehr,
        die euch den Alltag vereinfachen können.
      </p>

      <p>
        Zum Abschluss unserer Reise kommen wir nun noch zu dem Abschnitt,
        der euch verrät, wie ihr mit mir in Kontakt treten könnt.
        Entweder ihr folgt mir auf einem oder am besten gleich allen
        sozialen Netzwerken, die dort aufgelistet sind,
        oder ihr schreibt mir ganz klassisch eine E-Mail.
      </p>

      <p>
        Ach, wartet! Da hätte ich fast noch was vergessen:<br>
        Ich werde so gut wie jeden Artikel, außer diesen,
        mit Tags versehen, die im Grunde Schlagwörter darstellen,
        die die Themen des Artikels widerspiegeln. Wer möchte kann diese
        dann anklicken und wird entweder zu einem Wikipedia-Artikel
        oder zu einer eigens von mir verfassten Seite über das Thema geleitet.
        Dort gibt es dann auch ein paar Vorschläge über damit verbundene
        Artikel usw. Eine <a href="/tags.html">Übersichtsseite mit allen Tags</a> kann man von
        dort aus auch erreichen, welche aktuell allerdings
        noch komplett leer ist.
      </p>

      <h4>Das erwartet euch auf <a href="/">jr-cologne.de</a></h4>

      <p>
        Genug geredet, was erwartet euch jetzt also auf meiner Website?
      </p>

      <p>
        Wie ihr schon gemerkt habt, gibt es an vielen Stellen noch ein
        wenig Nachholbedarf was den Content dieser Seite angeht.
        So sind aktuell noch überhaupt keine Tags vorhanden,
        bis auf diesen Artikel existieren noch keine Blogeinträge
        und auch das Portfolio ist noch relativ übersichtlich.
      </p>

      <p>
        Beim Portfolio ist das natürlich hauptsächlich an die
        Tatsache gebunden, dass ich noch nicht allzu viel an
        Projekten vorzeigen kann. Ich werde allerdings versuchen,
        das Portfolio stetig um die eine oder andere Sache zu erweitern.
        Desto mehr Projekte ich veranstalte, desto schneller
        füllt sich auch das Portfolio. Von daher ist es hierbei nur eine
        Frage der Zeit, bis ein wenig mehr Content vorhanden ist.
      </p>

      <p>
        Etwas schwieriger sieht es da dann schon bei den Tags aus.
        Hier weiß ich um ehrlich zu sein noch nicht mal mit letzter Gewissheit,
        ob ich diese in den nächsten Monaten schon einsetzen werde.
        Klar, unter den Artikel werden die Tags angezeigt,
        aber die Wahrscheinlichkeit, dass nur einer davon auf eine eigens
        von mir erstellte Seite weiterleitet, wird eher gering sein.
        Der Grund ist schlicht der relativ große Verwaltungsaufwand,
        da ich ja nur auf <a href="https://jekyllrb.com/" target="_blank" rel="noopener">Jekyll</a> und kein wirkliches CMS setze.
        Ich kann zwar für die Zukunft schon mal ankündigen,
        dass ich vermutlich irgendwann im Jahr 2018 auch auf WordPress
        umsteigen werde, aber bis dahin sind die Tags erstmal
        ganz tief auf meiner Prioritätenliste.
      </p>

      <p>
        Etwas besser sieht es da mit dem Blog aus,
        trotz nicht vorhandenem WordPress.
        Der erste richtige Artikel wird diesen Sonntag erscheinen
        und sich mit dem Thema “<a href="/blog/2017/11/05/zentrieren-mit-css.html" target="_blank" rel="noopener">Zentrieren mit CSS</a>” beschäftigen.
        Anschließend geht es dann erst am Sonntag den 19.11. weiter mit
        dem nächsten Artikel, welcher sich um <a href="/blog/2017/12/03/css3-gradients.html" target="_blank" rel="noopener">CSS3 Gradients</a> drehen wird.
      </p>

      <p>
        Lasst mich noch ein paar Insights zu meinem Blog verraten:<br>
        Meinem Plan liegen zwei Artikeltypen zugrunde.
        Die Hauptartikel, die immer Sonntags um 14 Uhr erscheinen
        und die Nebenartikel, welche Freitags um 16 Uhr erscheinen.
      </p>

      <p>
        Aber was bedeutet das jetzt? Ein Hauptartikel ist die Artikelart,
        die größtenteils erscheinen wird und von News und Interviews bis
        zu ausführlichen Artikeln, wie z.B. dem am Sonntag erscheinenden
        Artikel über das <a href="/blog/2017/11/05/zentrieren-mit-css.html" target="_blank" rel="noopener">Zentrieren mit CSS</a>, reicht. Zusätzlich gibt es
        bei den Hauptartikeln noch zwei besondere Dinge,
        die nur alle 3 Monate erscheinen. Dabei handelt es sich einmal
        um eine Coding Challenge, bei der ich eine Aufgabe stellen werde,
        welche ihr dann lösen und mir zukommen lassen könnt.
        Nach Ablauf eines gewissen zeitlichen Rahmens stelle ich dann ein
        paar Lösungen, die mich erreicht haben, vor und präsentiere
        ebenfalls meine Lösung der Aufgabe. Der zweite besondere Artikeltyp
        unter den Hauptartikeln heißt “WebDev Q&A” und stellt eine
        Möglichkeit für euch dar, zu bestimmten Themen alle 3 Monate Fragen
        beantwortet zu bekommen. Das Thema wird ein oder zwei Wochen
        zuvor von mir angegeben und ihr habt dann die Möglichkeit,
        Fragen zu stellen. Das Ganze kündige ich in einem Nebenartikel an,
        womit wir schon beim nächsten Artikeltyp wären.
      </p>

      <p>
        Ein Nebenartikel umfasst vor allem Ankündigungsartikel oder auch mal Rückblicke.
        In den Rückblicken werde ich ein wenig zurückblicken, was ich in der
        Zeit so getrieben habe, über die Entwicklung meiner
        Website berichten und auch über zukünftige Pläne sprechen.
      </p>

      <p>
        Wir ihr seht, habe ich mir also durchaus auch ein paar besondere
        Formate ausgedacht und ich bin gespannt, wie diese so ankommen.
      </p>

      <p>
        Wichtig ist mir anzumerken, dass ich keine Massen an Artikeln
        produzieren werde. Ihr könnt euch fast schon glücklich schätzen,
        wenn jede Woche ein neuer Artikel erscheint.
        Dafür, dass wahrscheinlich nur ca. alle 2 Wochen Artikel erscheinen,
        werde ich aber besonderen Wert auf die Qualität legen.
        Ich hoffe, das merkt man dann auch.
      </p>

      <p>
        Abschließend möchte ich noch ein paar Worte zu Twitter verlieren:<br>
        Dort bin ich nämlich auch jetzt schon aktiv und ich werde es
        selbstverständlich auch bleiben. Wer mir also <a href="" target="_blank" rel="noopener">bei Twitter folgt</a>,
        wird stets auf dem Laufenden gehalten, was meine Website anbelangt.
        Des Weiteren teile ich dort fast auf täglicher Basis neue Nachrichten,
        Artikel und sonstige Dinge rund um die Themen Webentwicklung
        und Co mit euch. Es lohnt sich also, den Klick auf
        den Folgen-Button vorzunehmen.
      </p>

      <h3>Viel Spaß auf meiner Website!</h3>

      <p>
        So, zuletzt wünsche ich euch noch viel Spaß auf meiner Website!
        Ich hoffe, dass sie einigen eine Freude bereiten wird und ich
        hier in Zukunft nicht nur einen Monolog veranstalte.
      </p>

      <p>
        Auch möchte ich noch dazu aufrufen, mir Feedback für meine
        Artikel sowie die Website zu geben. Es würde mich ungemein freuen,
        wenn mir der eine oder andere auf <a href="https://twitter.com/{{ site.twitter_username }}/" target="_blank" rel="noopener">Twitter</a> oder per <a href="mailto:{{ site.email }}" title="kontakt@jr-cologne.de">E-Mail</a>
        eine Nachricht hinterlässt. Nur so kann ich mich verbessern
        und euch mehr bieten. Gerne könnt ihr auch komplett neue Ideen
        einbringen. Ich bin für alles offen.
      </p>

      <p>
        In diesem Sinne: Vielen Dank und bis bald!
      </p>

      <p>
        PS: Sorry für diesen etwas zu lang geratenen Artikel.
        Ich hoffe, ihr seid nicht mittendrin eingeschlafen und habt
        es geschafft, ihn bis zum Ende durchzulesen. ;D
      </p>
    </section>
  </article>
</main>

<footer class="footer footer--white">
  <div class="footer-logo-nav-container">
    <a href="/" class="logo" title="jr-cologne.de Logo"></a>

    <nav class="nav nav--footer">
      <ul>
        <li><a href="/">Startseite</a></li>
        <li><a href="/portfolio.html">Portfolio</a></li>
        <li><a href="/blog.html" class="current">Blog</a></li>
        <li><a href="/resources.html">Ressourcen</a></li>
      </ul>
    </nav>
  </div>

  <nav class="nav nav--legal">
    <ul>
      <li><a href="/impressum.html">Impressum</a></li>
      <li><a href="/datenschutz.html">Datenschutz</a></li>
    </ul>
  </nav>
</footer>
