---
layout: post
title: Google Home - Erste Eindrücke
canonical: blog/2017/11/26/google-home-erste-eindruecke.html
date: "2017-11-26 14:00:00 +0100"
date_string: "Sonntag, 26.11.2017"
article-image: "https://res.cloudinary.com/jr-cologne-de/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_1920/google-home-screenshot.png"
article-image-small: "https://res.cloudinary.com/jr-cologne-de/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_1280/google-home-screenshot.png"
image: { src: "https://res.cloudinary.com/jr-cologne-de/image/upload/ar_1.5,c_scale,f_auto,fl_lossy,q_auto,w_1280/google-home-screenshot.png", srcset: "https://res.cloudinary.com/jr-cologne-de/image/upload/ar_1.5,c_scale,f_auto,fl_lossy,q_auto,w_1280/google-home-screenshot.png 1280w, https://res.cloudinary.com/jr-cologne-de/image/upload/ar_1.5,c_scale,f_auto,fl_lossy,q_auto,w_1920/google-home-screenshot.png 1920w", alt: "Google Home - Erste Eindrücke Vorschaubild" }
preview-text: "Wie vielleicht schon der eine oder andere mitbekommen hat, habe ich die ganzen Aktionen rund um den Cyber Monday und den Black Friday genutzt und mir den Smart-Home-Lautsprecher “Google Home” angeschafft. Heute möchte ich ein wenig über meine ersten Eindrücke und Erfahrungen mit dem Gerät berichten, ein erstes Urteil abgeben, ob sich die Investition von 90€ gelohnt hat, sowie euch mit ein paar Informationen rund um den Smart Speaker ausstatten."
categories: blog

tags:
  - { title: "Google", url: "https://de.wikipedia.org/wiki/Google_LLC", target: "_blank" }
  - { title: "Google Home", url: "https://de.wikipedia.org/wiki/Google_Home", target: "_blank" }
  - { title: "Google Assistant", url: "https://de.wikipedia.org/wiki/Google_Assistant", target: "_blank" }
  - { title: "Intelligenter Persönlicher Assistent", url: "https://de.wikipedia.org/wiki/Intelligenter_Persönlicher_Assistent", target: "_blank" }

---

<header class="header">
  <a href="/" class="logo" title="jr-cologne.de Logo"></a>

  <nav id="nav" class="nav nav--main">
    <div class="navbar">
      <a href="#" id="hamburger-button" title="Navigation">
        <span class="hamburger-icon_top"></span>
        <span class="hamburger-icon"></span>
        <span class="hamburger-icon_bottom"></span>
      </a>
    </div>

    <ul>
      <li><a href="/">Startseite</a></li>
      <li><a href="/portfolio.html">Portfolio</a></li>
      <li><a href="/blog.html" class="current">Blog</a></li>
      <li><a href="/resources.html">Ressourcen</a></li>
    </ul>
  </nav>
</header>

<main>
  {% include article-top-bar.html %}

  <article class="article">
    <header class="article-header">
      <h1 class="article-heading">{{ page.title }}</h1>

      <div id="article-image" class="article-image" data-bg-pos-x="start" style="background-image: url('{{ page.article-image }}')"></div>
    </header>

    <section class="article-text">
      <p>
        Wie vielleicht schon der eine oder andere mitbekommen hat,
        habe ich die ganzen Aktionen rund um den <a href="https://de.wikipedia.org/wiki/Cyber_Monday" target="_blank" rel="noopener">Cyber Monday</a> und den
        <a href="https://de.wikipedia.org/wiki/Black_Friday" target="_blank" rel="noopener">Black Friday</a> genutzt und mir den Smart-Home-Lautsprecher
        “<a href="https://store.google.com/product/google_home" target="_blank" rel="noopener">Google Home</a>” angeschafft.
      </p>

      <p>
        Heute möchte ich ein wenig über meine ersten Eindrücke und Erfahrungen
        mit dem Gerät berichten, ein erstes Urteil abgeben,
        ob sich die Investition von 90€ gelohnt hat,
        sowie euch mit ein paar Informationen rund um den
        Smart Speaker ausstatten.
      </p>

      <h3><a href="https://store.google.com/product/google_home" target="_blank" rel="noopener">Google Home</a>: Was ist das?</h3>

      <p>
        Bei <a href="https://store.google.com/product/google_home" target="_blank" rel="noopener">Google Home</a> handelt es sich, wie der Name schon vermuten lässt,
        um ein Produkt des Online-Riesen <a href="https://de.wikipedia.org/wiki/Google_LLC" target="_blank" rel="noopener">Google</a>. Der Smart-Home-Lautsprecher
        verfügt über integrierte Mikrofone und ermöglicht dem Nutzer darüber
        den Zugriff auf einen persönlichen digitalen Assistenten,
        der sich “<a href="https://de.wikipedia.org/wiki/Google_Assistant" target="_blank" rel="noopener">Google Assistant</a>” nennt.
      </p>

      <p>
        Vorgestellt wurde das Gerät erstmals auf der Entwicklerkonferenz
        <a href="https://de.wikipedia.org/wiki/Google_I/O" target="_blank" rel="noopener">Google I/O</a> am 18. Mai 2016. Noch im selben Jahr, am 4. November,
        erschien das Gerät in den USA.
        Damals natürlich erstmal in der US-amerikanischen Sprachversion.
      </p>

      <p>
        Ein deutsches Pendant dazu folgte erst am 8. August 2017
        und befindet sich seitdem auch bei uns im Handel.
        Die erste Markteinführung innerhalb Europas erfolgte am 6. April 2017
        in Großbritannien.
      </p>

      {% include article-content-image.html src="https://res.cloudinary.com/jr-cologne-de/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_1280/google-home.jpg" srcset="https://res.cloudinary.com/jr-cologne-de/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_1280/google-home.jpg 1280w, https://res.cloudinary.com/jr-cologne-de/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_1920/google-home.jpg 1920w" alt="Google Home auf einem Beistelltisch" description="Google Home: Das moderne, minimalistische Design des Geräts passt in fast jeden Raum" source='Bild: <a href="http://www.nextdayblinds.com/" target="_blank" rel="noopener">nextdayblinds.com</a>' %}

      <h3>“Ok Google, was kannst du?”</h3>

      <p>
        Durch bestimmte Sprachbefehle lassen sich verschiedenste Fragen
        oder Befehle an <a href="https://store.google.com/product/google_home" target="_blank" rel="noopener">Google Home</a> bzw. den eingebauten <a href="https://de.wikipedia.org/wiki/Google_Assistant" target="_blank" rel="noopener">Google Assistant</a>
        übermitteln. Diese werden dann verarbeitet und versucht möglichst
        zufriedenstellend zu beantworten, was in den meisten Fällen
        auch gelingt.
      </p>

      <p>
        Zum Funktionsumfang gehören relativ unspektakuläre aber praktische
        Wissensfragen, wie z.B. “Wer ist der Präsident von Mexiko?”
        oder “Wie weit ist es bis zum Mond?”. Genauso eignet sich der
        Smart Speaker gut für Definitionsfragen,
        die meist über <a href="https://de.wikipedia.org/wiki/Wikipedia:Hauptseite" target="_blank" rel="noopener">Wikipedia</a> bereitgestellt werden.
        Darüber hinaus kann man sich auch die neusten Nachrichten anhören,
        einen Wecker stellen und ähnliche praktische Dinge erledigen.
      </p>

      <p>
        Das ist aber noch lange nicht alles: <a href="https://store.google.com/product/google_home" target="_blank" rel="noopener">Google Home</a> ermöglicht es
        seinem Nutzer auch Musik und Radio per Sprachsteuerung abzuspielen,
        Smart-Home-Geräte, wie z.B. Lampen, zu steuern und vieles mehr.
      </p>

      <p>
        Aktivieren lässt sich all das mit den Aktivierungsworten
        “Ok Google” oder “Hey Google”. Anschließend hört das Gerät genau zu
        und versucht den Wunsch des Nutzers zu erfüllen.
      </p>

      <p>
        Eine kontinuierliche Weiterentwicklung ist ebenfalls gegeben,
        da <a href="https://de.wikipedia.org/wiki/Google_LLC" target="_blank" rel="noopener">Google</a> zum einen nun immer mehr in den Hardware- sowie KI-Markt
        drängt und zusätzlich Drittanbieter ihre Dienste über die
        Entwicklerplattform “<a href="https://developers.google.com/actions/" target="_blank" rel="noopener">Actions on Google</a>” in <a href="https://store.google.com/product/google_home" target="_blank" rel="noopener">Google Home</a>
        integrieren können.
      </p>

      <p>
        Bezogen auf die Hardware ist das Gerät mit zwei integrierten
        Mikrofonen ausgestattet, welche letztlich die Steuerung per Sprache
        erst möglich machen. Hier verspricht <a href="https://de.wikipedia.org/wiki/Google_LLC" target="_blank" rel="noopener">Google</a> sogar eine sogenannte
        “Far-field voice recognition”. Diese Technologie soll es ermöglichen,
        dass selbst Befehle aus anderen Räumen verstanden werden.
      </p>

      <p>
        Außerdem lässt sich die sogenannte “Basis”, worunter sich die
        Lautsprecher befinden, insofern personalisieren,
        dass diese sich leicht abschrauben und austauschen lässt.
        So kann man aus vier verschiedenen Farben wählen.
      </p>

      <h3>Privatsphäre & Datenschutz</h3>

      <p>
        Damit <a href="https://store.google.com/product/google_home" target="_blank" rel="noopener">Google Home</a> eine permanente Verfügbarkeit sowie Funktionalität
        garantieren kann, werden lokal im Gerät jeweils die letzten
        Sekunden jeder Konversation im Raum aufgezeichnet und temporär
        gespeichert. Sobald das Aktivierungswort erkannt wurde,
        werden diese letzten Sekunden zusammen mit den folgenden Befehlen
        an die <a href="https://de.wikipedia.org/wiki/Google_LLC" target="_blank" rel="noopener">Google</a>-Server zur Verarbeitung der Anfrage gesendet.
        Jegliche Aktivitäten werden im <a href="https://myaccount.google.com/" target="_blank" rel="noopener">Google-Konto</a> gespeichert,
        was durchaus eine gewisse Transparenz bietet.
        So ist es im Nachhinein sogar möglich, die Aufnahmen anzuhören.
      </p>

      <p>
        Wer trotz allem sichergehen möchte, dass <a href="https://de.wikipedia.org/wiki/Google_LLC" target="_blank" rel="noopener">Google</a> nicht mithört,
        kann außerdem immer noch das Mikrofon per Knopfdruck deaktivieren
        und später wieder aktivieren, wenn man die Funktionen des Smart
        Speakers wieder in Anspruch nehmen möchte.
      </p>

      {% include article-content-image.html src="https://res.cloudinary.com/jr-cologne-de/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_1280/google-home-rueckseite.jpg" srcset="https://res.cloudinary.com/jr-cologne-de/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_1280/google-home-rueckseite.jpg 1280w, https://res.cloudinary.com/jr-cologne-de/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_1920/google-home-rueckseite.jpg 1920w" alt="Die Rückseite des Google Home mit dem Knopf zum Deaktivieren des Mikrofons" description="Die Rückseite des Google Home mit dem Knopf zum Deaktivieren des Mikrofons" source='Bild: <a href="/" target="_blank" rel="noopener">jr-cologne.de</a>' %}

      <h3>Meine ersten Eindrücke und Erfahrungen mit <a href="https://store.google.com/product/google_home" target="_blank" rel="noopener">Google Home</a></h3>

      <p>
        Genug zum Produkt. Nun möchte ich mal meine Meinung kundtun:
      </p>

      <h4>Warum habe ich mir das Gerät gekauft?</h4>

      <p>
        Damals, als <a href="https://store.google.com/product/google_home" target="_blank" rel="noopener">Google Home</a> in den USA vorgestellt wurde,
        habe ich die Entwicklung rund um das Gerät und die damit
        verbundene Technologie schon interessiert verfolgt.
      </p>

      <p>
        Im Gegensatz zu <a href="https://de.wikipedia.org/wiki/Virtuelle_Realit%C3%A4t" target="_blank" rel="noopener">Virtual Reality</a> bin ich bei den Technologien
        <a href="https://de.wikipedia.org/wiki/K%C3%BCnstliche_Intelligenz" target="_blank" rel="noopener">Künstliche Intelligenz</a> und <a href="https://de.wikipedia.org/wiki/Intelligenter_Persönlicher_Assistent" target="_blank" rel="noopener">digitale Assistenten</a> fest davon überzeugt,
        dass diese in der Zukunft eine große Rolle spielen werden und
        spätestens bis 2025 oder 2030 ein Großteil der Haushalte über
        einen persönlichen digitalen Assistenten verfügen wird.
        Insbesondere im Zusammenspiel mit <a href="https://de.wikipedia.org/wiki/Erweiterte_Realit%C3%A4t" target="_blank" rel="noopener">Augmented Reality</a> wird die
        Technologie vermutlich sehr populär werden,
        so zumindest meine Einschätzung.
      </p>

      <p>
        Abgesehen von meinem Interesse zum Thema habe ich <a href="https://store.google.com/product/google_home" target="_blank" rel="noopener">Google Home</a>
        natürlich auch für eine nette Möglichkeit, Musik und Radio zu hören
        oder die neusten Nachrichten vorgelesen zu bekommen, gehalten.
        <a href="https://store.google.com/product/google_home" target="_blank" rel="noopener">Google Home</a> ist meiner Meinung nach ein typisches
        “nice to have”-Produkt, was seinen ursprünglichen Preis eigentlich
        nicht wert ist. Somit habe ich im Grunde schon von Anfang an,
        seitdem <a href="https://store.google.com/product/google_home" target="_blank" rel="noopener">Google Home</a> in Deutschland verfügbar ist,
        auf mögliche Angebote für unter 100€ gehofft.
      </p>

      <p>
        Da dies jetzt der Fall war und 90€ einen schon deutlich besseren Preis
        darstellte, habe ich mir das schlicht und ergreifend einfach mal
        gegönnt. Man gönnt sich ja sonst nichts. ;D
      </p>

      <h4>Das sind meine ersten Eindrücke zu <a href="https://store.google.com/product/google_home" target="_blank" rel="noopener">Google Home</a></h4>

      <p>
        Nachdem sich die Lieferung dann leider ein wenig hingezogen hat
        und ich das Gerät somit erst vergangenen Donnerstag in Betrieb nehmen
        konnte, bin ich insgesamt doch positiv überrascht.
      </p>

      <p>
        Die Einrichtung ist dank der <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.chromecast.app&hl=de" target="_blank" rel="noopener">Google-Home-App</a> ein Kinderspiel und
        innerhalb von spätestens 10 Minuten läuft alles.
        Genutzt habe ich es in den letzten Tagen vor allen Dingen für Musik,
        Radio und Nachrichten sowie ein paar Wissensfragen oder Ähnliches.
      </p>

      <p>
        Besonders gut gefällt mir dabei der Klang sowie die Lautstärke der
        Lautsprecher und das Mikrofon.
      </p>

      <p>
        Die Lautsprecher sind so laut, dass ich nicht über die Lautstärkestufe
        3 bei der normalen Nutzung hinauskomme. Das liegt zwar auch daran,
        dass ich niemand bin, der seine Musik übermäßig laut aufdreht,
        aber auch Musikfans, die gerne laut Musik hören, sollten mit dem
        Gerät klarkommen. Eine kleine Party lässt sich mit dem
        Smart Speaker organisieren.
      </p>

      <p>
        Erwähnt werden muss natürlich, dass <a href="https://store.google.com/product/google_home" target="_blank" rel="noopener">Google Home</a> deswegen noch
        lange keine richtige Musikanlage oder ein System wie Sonos
        ersetzen kann. Für die tägliche Dosis Musik reicht es aber völlig aus
        und bietet einen guten, soliden Klang, außer man ist sehr
        anspruchsvoll, was das angeht.
      </p>

      <p>
        Kurzum: Die Lautsprecher überzeugen vor allem im Punkto Lautstärke,
        sodass man bis auf wenige Ausnahmen stets nicht die volle Lautstärke
        benötigt. Zusätzlich bieten sie einen soliden Klang,
        der für die Alltagsnutzung völlig ausreichend ist.
      </p>

      <p>
        Ein weiterer wichtiger Punkt ist das Mikrofon, welches dafür sorgt,
        dass <a href="https://store.google.com/product/google_home" target="_blank" rel="noopener">Google Home</a> einen in den meisten Fällen sehr gut versteht.
        Es ist also nicht notwendig, seine Stimme anzuheben oder besonders
        deutlich zu sprechen. Selbst wenn Musik läuft und man gleichzeitig
        mit dem Assistant reden möchte, funktioniert dies ausgesprochen gut,
        sodass man nicht gegen die Musik anschreien muss, auch wenn es
        natürlich trotzdem meist nötig ist, ein kleines bisschen lauter zu
        reden, wenn Nebengeräusche vorhanden sind.
      </p>

      <p>
        Die sogenannte “Far-field voice recognition” ermöglicht es zusätzlich,
        auch aus anderen Räumen noch verstanden zu werden,
        vorausgesetzt die Entfernung ist nicht allzu groß und die Tür steht
        offen. Ein Zuruf aus dem Nebenraum sollte also ohne Probleme möglich
        sein. Hier muss ich aus eigener Erfahrung allerdings sagen,
        dass dies bisher nicht immer geklappt hat bzw. man auf alle Fälle
        doch ein gutes Stück lauter sprechen muss.
        Trotz allem kann man eigentlich keine größeren Probleme beim
        Mikrofon feststellen. Insgesamt handelt es sich also auch um ein
        gutes Mikrofon, das da im <a href="https://store.google.com/product/google_home" target="_blank" rel="noopener">Google Home</a> eingebaut wurde.
      </p>

      <p>
        Ansonsten kann man zum <a href="https://de.wikipedia.org/wiki/Google_Assistant" target="_blank" rel="noopener">Google Assistant</a>, welcher im Gerät “verbaut”
        ist, sagen, dass dieser offenbar ein Stück weiter im Bezug auf
        Intelligenz ist als <a href="https://de.wikipedia.org/wiki/Amazon_Echo" target="_blank" rel="noopener">Alexa</a> von <a href="https://de.wikipedia.org/wiki/Amazon.com" target="_blank" rel="noopener">Amazon</a>.
        Besonders der Zugriff auf das gesamte <a href="https://de.wikipedia.org/wiki/Google_LLC" target="_blank" rel="noopener">Google</a>-"Ökosystem" wird mit der
        Zeit seine Stärken ausspielen und sorgt auch jetzt schon dafür,
        dass dieser in vielen Fällen die Fragen des Nutzers
        gut beantworten kann.
      </p>

      <p>
        Der größte Kritikpunkt dürfte wohl sein, dass die Technik natürlich
        noch nicht ausgereift ist und <a href="https://de.wikipedia.org/wiki/Google_LLC" target="_blank" rel="noopener">Google</a> besonders bei der deutschen
        Version im Vergleich zur englischen Version ein gutes Stück
        zurückliegt. So merkt man teilweise noch relativ deutlich,
        dass sich der Assistant doch stark anhand von bestimmten Wörtern
        orientiert und den Sinn eines Befehls nicht aus dem kompletten
        Zusammenhang interpretiert. Weicht man also mal von diesen Keywords ab,
        versteht der Assistant durchaus auch mal banalere Dinge nicht,
        obwohl Google's Sprachassistent von den meisten als etwas
        intelligenter eingeschätzt wird. Ein Beispiel dafür ist,
        wenn man Radio hören möchte und analog zu dem Befehl “Spiele Musik”
        “Spiele WDR2” sagt. Dann denkt der <a href="https://de.wikipedia.org/wiki/Google_Assistant" target="_blank" rel="noopener">Google Assistant</a> nämlich,
        man wolle mit ihm ein Spiel spielen, das WDR2 heißt.
        Da er dieses Spiel aber natürlich nicht im Angebot hat,
        schlägt er Spiele, die sich mit <a href="https://store.google.com/product/google_home" target="_blank" rel="noopener">Google Home</a> spielen lassen, vor.
        Das ist dann natürlich etwas fehlinterpretiert,
        schließlich wollte man eigentlich Radio hören.
        Sonderlich dramatisch ist das aber meist nicht, da man dann halt
        einfach sein Befehl nochmal ein wenig anders formuliert und schon
        funktioniert alles reibungslos.
      </p>

      <h3>Fazit: Kaufempfehlung mit kleiner Einschränkung</h3>

      <p>
        Anschließend lässt sich sagen, dass <a href="https://store.google.com/product/google_home" target="_blank" rel="noopener">Google Home</a> insgesamt doch ein
        sehr solides Gerät darstellt, das sicher noch nicht komplett ausgereift
        ist und hier und da noch kleinere Probleme aufweist,
        jedoch trotzdem im Großen und Ganzen einen absolut positiven
        Eindruck hinterlässt und mir besonders in der Zukunft,
        wenn die Funktionen erweitert werden und der <a href="https://de.wikipedia.org/wiki/Google_Assistant" target="_blank" rel="noopener">Google Assistant</a> immer
        intelligenter wird, sicher noch viel Freude bereiten wird.
      </p>

      <p>
        In diesem Sinne freue ich mich sehr darauf,
        die weitere Entwicklung live miterleben zu können und würde
        jedem einen Kauf empfehlen, vorausgesetzt man bezahlt nicht mehr
        als 100€ und hat einen Anwendungszweck für das Gerät.
      </p>

      <h3>Weiterführende Links / Quellen</h3>

      <ul>
        <li><a href="https://de.wikipedia.org/wiki/Google_Home" target="_blank" rel="noopener">Wikipedia - Google Home</a></li>
        <li><a href="https://store.google.com/product/google_home" target="_blank" rel="noopener">Google Store - Google Home</a></li>
        <li>Titelbild: Screenshot aus dem <a href="https://store.google.com/product/google_home" target="_blank" rel="noopener">Google Store</a></li>
      </ul>
    </section>

    {% include tags.html %}
  </article>
</main>

<footer class="footer footer--white">
  <div class="footer-logo-nav-container">
    <a href="/" class="logo" title="jr-cologne.de Logo"></a>

    <nav class="nav nav--footer">
      <ul>
        <li><a href="/">Startseite</a></li>
        <li><a href="/portfolio.html">Portfolio</a></li>
        <li><a href="/blog.html" class="current">Blog</a></li>
        <li><a href="/resources.html">Ressourcen</a></li>
      </ul>
    </nav>
  </div>

  <nav class="nav nav--legal">
    <ul>
      <li><a href="/impressum.html">Impressum</a></li>
      <li><a href="/datenschutz.html">Datenschutz</a></li>
    </ul>
  </nav>
</footer>
