---
layout: post
title: Google I/O 2018
canonical: blog/2018/05/07/google-io-2018.html
date: "2018-05-07 18:45:00 +0200"
date_string: "Montag, 07.05.2018"
article-image: "https://res.cloudinary.com/jr-cologne-de/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_1920/google-io-2018.png"
article-image-small: "https://res.cloudinary.com/jr-cologne-de/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_1280/google-io-2018.png"
image: { src: "https://res.cloudinary.com/jr-cologne-de/image/upload/ar_1.5,c_scale,f_auto,fl_lossy,q_auto,w_1280/google-io-2018.png", srcset: "https://res.cloudinary.com/jr-cologne-de/image/upload/ar_1.5,c_scale,f_auto,fl_lossy,q_auto,w_1280/google-io-2018.png 1280w, https://res.cloudinary.com/jr-cologne-de/image/upload/ar_1.5,c_scale,f_auto,fl_lossy,q_auto,w_1920/google-io-2018.png 1920w", alt: "Google I/O 2018 Vorschaubild" }
description: "Am Dienstag, den 8. Mai, startet die Google I/O 2018. Google’s Entwicklerkonferenz geht damit in die 11. Runde. Einen Tag vor der Konferenz setze ich mich damit auseinander, was man von der Google I/O erwarten kann und wie man die Konferenz auch von Zuhause auf dem Sofa verfolgen kann. Die Google I/O ist die große hauseigene Entwicklerkonferenz von Google, die seit 2008 jedes Jahr in Kalifornien stattfindet. Das “I/O” steht dabei für “Innovation in the Open” als auch für “Input/Output”. Obwohl auf der Google I/O auch zahlreiche neue Funktionen sowie Hard- und Software vorgestellt werden, handelt es sich eigentlich um eine Konferenz, die sich explizit an fachlich versierte Entwickler richtet."
categories: blog

tags:
  - { title: "Google", url: "https://de.wikipedia.org/wiki/Google_LLC", target: "_blank" }
  - { title: "Google I/O", url: "https://de.wikipedia.org/wiki/Google_I/O", target: "_blank" }

---

<header class="header">
  <a href="/" class="logo" title="jr-cologne.de Logo"></a>

  <nav id="nav" class="nav nav--main">
    <div class="navbar">
      <a href="#" id="hamburger-button" title="Navigation">
        <span class="hamburger-icon_top"></span>
        <span class="hamburger-icon"></span>
        <span class="hamburger-icon_bottom"></span>
      </a>
    </div>

    <ul>
      <li><a href="/">Startseite</a></li>
      <li><a href="/blog.html" class="current">Blog</a></li>
      <li><a href="/resources.html">Ressourcen</a></li>
    </ul>
  </nav>
</header>

<main>
  {% include article-top-bar.html %}

  <article class="article">
    <header class="article-header">
      <h1 class="article-heading">{{ page.title }}</h1>

      <div id="article-image" class="article-image" style="background-image: url('{{ page.article-image }}')"></div>
    </header>

    <section class="article-text">
      <p>
        Am Dienstag, den 8. Mai, startet die <a href="https://de.wikipedia.org/wiki/Google_I/O" target="_blank" rel="noopener">Google I/O</a> 2018.
        Google’s Entwicklerkonferenz geht damit in die 11. Runde.
        Einen Tag vor der Konferenz setze ich mich damit auseinander,
        was man von der <a href="https://de.wikipedia.org/wiki/Google_I/O" target="_blank" rel="noopener">Google I/O</a> erwarten kann und
        wie man die Konferenz auch von Zuhause auf dem Sofa verfolgen kann.
      </p>

      <h3>Was ist die Google I/O?</h3>

      <p>
        Die <a href="https://de.wikipedia.org/wiki/Google_I/O" target="_blank" rel="noopener">Google I/O</a> ist die große hauseigene Entwicklerkonferenz von Google,
        die seit 2008 jedes Jahr in Kalifornien stattfindet.
        Das “I/O” steht dabei für “Innovation in the Open” als auch für “Input/Output”.
      </p>

      <p>
        Obwohl auf der <a href="https://de.wikipedia.org/wiki/Google_I/O" target="_blank" rel="noopener">Google I/O</a> auch zahlreiche neue Funktionen sowie Hard- und Software vorgestellt werden,
        handelt es sich eigentlich um eine Konferenz, die sich explizit an fachlich versierte Entwickler richtet.
      </p>

      <p>
        Zusätzlich zu den normalen Präsentationen gibt es zahlreiche “Sessions”,
        welche bestimmte Themen vertieft behandeln. Ebenso existiert auf der Konferenz die Möglichkeit,
        Google-Experten mit Fragen zu löchern und sich kleinere Ausstellungen mit den neuesten Google-Produkten anzuschauen.
        Ein Rahmenprogramm darf dabei natürlich auch nicht fehlen, weswegen es u.a. ein exklusives Konzert auf der <a href="https://de.wikipedia.org/wiki/Google_I/O" target="_blank" rel="noopener">Google I/O</a> 2018 geben wird.
      </p>

      <p>
        Wichtig zu erwähnen ist noch, dass Google nur knapp 5.000 Entwickler als Besucher einlädt.
        Der Rest muss sich mit der Liveübertragung zufrieden stellen.
        Aus diesem Grund sind die Karten für die Entwicklerkonferenz des US-Konzerns auch meist
        bereits nach wenigen Stunden ausverkauft, da sich die <a href="https://de.wikipedia.org/wiki/Google_I/O" target="_blank" rel="noopener">Google I/O</a> in der Vergangenheit
        als wichtigste Anlaufstelle für Informationen über neue Google-Produkte erwiesen hat.
      </p>

      <h3>Wann findet die Google I/O 2018 statt?</h3>

      <p>
        Die diesjährige <a href="https://de.wikipedia.org/wiki/Google_I/O" target="_blank" rel="noopener">Google I/O</a>, welche im Januar 2018 für den 8.-10. Mai angesetzt wurde,
        findet wie bereits die vergangenen Jahre im Shoreline Amphitheatre in Mountain View statt.
      </p>

      <p>
        Das Event startet offiziell am Dienstagabend um 19 Uhr deutscher Zeit mit der “Google Keynote”,
        welche vom Google CEO Sundar Pichai abgehalten wird.
      </p>

      <h3>Was kann man von der Google I/O 2018 erwarten?</h3>

      <p>
        Auch wenn Google bemüht ist, im Voraus möglichst keine Informationen zu den Plänen der <a href="https://de.wikipedia.org/wiki/Google_I/O" target="_blank" rel="noopener">Google I/O</a> durchsickern zu lassen,
        zeichnen sich die wichtigsten Themen der diesjährigen Veranstaltung ab.
        So wird es mit ziemlicher Sicherheit neue Informationen zu Android P geben,
        schließlich steht das meistgenutzte mobile Betriebssystem Android traditionell
        sehr hoch auf der Liste der Themen von Google’s Konferenz.
      </p>

      <p>
        Ebenso ein heißes Thema wird wahrscheinlich der Google Assistant und künstliche Intelligenz allgemein sein.
        Nachdem Google im vergangenen Jahr KI quasi zum Kern des Geschäfts erklärt hat, ist dies auch nicht weiter verwunderlich.
      </p>

      <p>
        Neben diesen beiden Themen könnte sich die <a href="https://de.wikipedia.org/wiki/Google_I/O" target="_blank" rel="noopener">Google I/O</a> diesmal auch um Themen wie virtuelle Realität,
        die Entwicklung von mobilen Anwendungen sowie einer möglichen zweiten Version von Google’s Material Design drehen.
      </p>

      <p>
        Ebenfalls auf der Konferenz behandelt werden könnte die Ausrichtung des Konzerns bei Messaging-Diensten.
        Bisher dominiert Facebook mit WhatsApp diesen Markt, während Google bisher mit jeglichem Versuch scheiterte,
        Facebook vom Thron zu stoßen. Ein Beispiel dafür sind die Apps Google Allo und Duo.
      </p>

      <p>
        Als Folge dessen scheint Google nun einen anderen Weg einzuschlagen: Mit dem Projekt “Chat” möchte Google
        den Nachfolgestandard der SMS nutzen und zusammen mit den Mobilfunkbetreibern
        die Konkurrenz im Sektor der Messaging-Dienste zurückdrängen.
      </p>

      <p>
        Ähnlich im Hintertreffen zur Konkurrenz ist Google bei den sogenannten Smartwatches.
        Hier beherrscht Apple mit der Apple Watch klar den Markt. Nachdem Google das Uhren-Betriebssystem
        “Android Wear” vor kurzem in “Wear OS by Google” umbenannte, scheint es durchaus möglich,
        dass Google auch hier nun wieder angreifen möchte und eventuell
        ein paar Informationen und Pläne dazu auf der <a href="https://de.wikipedia.org/wiki/Google_I/O" target="_blank" rel="noopener">Google I/O</a> durchblicken lässt.
      </p>

      <p>
        Nicht zuletzt sehr interessant zu beobachten wird auch sein,
        ob Google sich auf der I/O-Konferenz den aktuellen politischen Diskussionen anschließen wird.
        So wird aufgrund der Aufregung rund um Facebooks Datenschutzskandal aktuell verstärkt
        eine Diskussion über die Rolle bzw. die Verantwortung von Technologie-Unternehmen in der Gesellschaft geführt.
        Dass Google sich dort einmischt, kann zumindest nicht komplett ausgeschlossen werden.
        Verglichen mit Facebook ist der Einfluss des Unternehmens auf die Gesellschaft schließlich auch nicht viel kleiner.
      </p>

      <h3>So kannst du die Google I/O 2018 verfolgen</h3>

      <p>
        Da der Rahmen der <a href="https://de.wikipedia.org/wiki/Google_I/O" target="_blank" rel="noopener">Google I/O</a> mit ca. 5.000 Besuchern leider sehr begrenzt ist und
        die Wenigsten extra nach Amerika reisen möchten oder können, werden wieder zahlreiche Entwickler,
        Interessierte und Google-Fans die dreitägige Entwicklerkonferenz von Zuhause verfolgen.
        Dies ist aufgrund eines Livestreams mehr oder weniger ohne Probleme möglich.
      </p>

      <p>
        Wer allerdings nicht die Zeit hat, um dauerhaft den Livestream zu verfolgen,
        kann sich auf der <a href="https://events.google.com/io/" target="_blank" rel="noopener">I/O-Website</a> nähere Informationen zu allen Veranstaltungen einholen.
        Praktischerweise ist dort ebenfalls gekennzeichnet, welche Veranstaltungen im Livestream übertragen werden.
      </p>

      <p>
        Neben der Website existiert gleichzeitig aber natürlich auch eine App,
        die man sich im <a href="https://play.google.com/store/apps/details?id=com.google.samples.apps.iosched" target="_blank" rel="noopener">Google Play Store</a> bzw. <a href="https://itunes.apple.com/us/app/google-i-o/id1109898820?mt=8" target="_blank" rel="noopener">Apple App Store</a> herunterladen kann.
        Ein Blick lohnt sich durchaus.
      </p>

      <h3>Live auf <a href="/">jr-cologne.de</a>: Die Google I/O 2018 im Livestream</h3>

      <p>
        Diejenigen, welche sich jetzt nicht noch nach dem Livestream umschauen möchten,
        können direkt hier bleiben. Google stellt freundlicherweise die Möglichkeit bereit,
        den Livestream der Veranstaltung auf der eigenen Website bzw. dem eigenen Blog einzubinden.
      </p>

      <p>
        Natürlich habe ich mir diese Chance nicht entgehen lassen und den Livestream unter diesem Artikel eingebunden.
      </p>

      <p>
        Ich persönlich freue mich schon lange auf Google’s Entwicklerkonferenz und bin schon ganz gespannt,
        was Google wohl alles ankündigen wird. Kurzum: Ich werde die <a href="https://de.wikipedia.org/wiki/Google_I/O" target="_blank" rel="noopener">Google I/O</a> 2018 gespannt auf meiner
        eigenen Website verfolgen. Das hat schon was, das muss ich schon zugeben.
      </p>

      <p>
        Es würde mich wirklich freuen, wenn ich dem einen oder anderen mit der Übertragung
        ebenfalls eine kleine Freude bereiten kann. In diesem Sinne: Viel Spaß!
      </p>

      <p>
        [ Die Livestream-Einbindung wurde mittlerweile entfernt. Die kompletten Aufnahmen der Google I/O 2018 lassen sich
        in <a href="https://www.youtube.com/playlist?list=PLOU2XLYxmsIInFRc3M44HUTQc3b_YJ4-Y" target="_blank" rel="noopener">dieser YouTube-Playlist</a> einsehen. ]
      </p>

      <h3>Weiterführende Links / Quellen</h3>

      <ul>
        <li><a href="https://de.wikipedia.org/wiki/Google_I/O" target="_blank" rel="noopener">Wikipedia - Google I/O</a></li>
        <li><a href="https://events.google.com/io/" target="_blank" rel="noopener">Offizielle Google I/O Website</a></li>
        <li><a href="https://t3n.de/news/google-io-2018-preview_android-p-1076772/" target="_blank" rel="noopener">t3n.de - Android P, KI und mehr – was von der Google I/O 2018 zu erwarten ist</a></li>
        <li>Titelbild: Screenshot der <a href="https://events.google.com/io/" target="_blank" rel="noopener">Google I/O Website</a></li>
      </ul>
    </section>

    {% include tags.html %}
  </article>
</main>

<footer class="footer">
  <div class="footer-logo-nav-container">
    <a href="/" class="logo" title="jr-cologne.de Logo"></a>

    <nav class="nav nav--footer">
      <ul>
        <li><a href="/">Startseite</a></li>
        <li><a href="/blog.html" class="current">Blog</a></li>
        <li><a href="/resources.html">Ressourcen</a></li>
      </ul>
    </nav>
  </div>

  <nav class="nav nav--legal">
    <ul>
      <li><a href="/impressum.html">Impressum</a></li>
      <li><a href="/datenschutz.html">Datenschutz</a></li>
    </ul>
  </nav>
</footer>

{% include code-highlighter.html %}
{% include tweet-embed-code.html %}
