---
layout: tag
title: Hardware
canonical: tags/hardware.html

articles-same-tag:
  - {
      title: "Article 4",
      date: "2017-04-26 19:00:00 +0200",
      date_string: "Mittwoch, 26.04.2017",
      image: { src: "/_app/assets/img/img4.jpg", srcset: "/_app/assets/img/img4.jpg 1280w, /_app/assets/img/img4-large.jpg 1920w", alt: "Article 4 Image" },
      url: "/blog/2017/04/26/article4.html",
      preview-text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus."
    }
  - {
      title: "Article 3",
      date: "2017-04-27 19:00:00 +0200",
      date_string: "Donnerstag, 27.04.2017",
      image: { src: "/_app/assets/img/img3.jpg", srcset: "/_app/assets/img/img3.jpg 1280w, /_app/assets/img/img3-large.jpg 1920w", alt: "Article 3 Image" },
      url: "/blog/2017/04/27/article3.html",
      preview-text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus."
    }

articles-related-tags:
  - {
      title: "Article 5",
      date: "2017-04-25 19:00:00 +0200",
      date_string: "Dienstag, 25.04.2017",
      image: { src: "/_app/assets/img/img5.jpg", srcset: "/_app/assets/img/img5.jpg 1280w, /_app/assets/img/img5-large.jpg 1920w", alt: "Article 5 Image" },
      url: "/blog/2017/04/25/article5.html",
      preview-text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus."
    }
  - {
      title: "Article 2",
      date: "2017-04-28 19:00:00 +0200",
      date_string: "Freitag, 28.04.2017",
      image: { src: "/_app/assets/img/img2.jpg", srcset: "/_app/assets/img/img2.jpg 1280w, /_app/assets/img/img2-large.jpg 1920w", alt: "Article 2 Image" },
      url: "/blog/2017/04/28/article2.html",
      preview-text: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus."
    }

related-tags:
  - { title: "Design", url: "/tags/design.html" }
  - { title: "Webentwicklung", url: "/tags/webentwicklung.html" }

---

<header class="header">
  <a href="/" class="logo" title="jr-cologne.de Logo"></a>

  <nav id="nav" class="nav nav--main">
    <div class="navbar">
      <a href="#" id="hamburger-button" title="Navigation">
        <span class="hamburger-icon_top"></span>
        <span class="hamburger-icon"></span>
        <span class="hamburger-icon_bottom"></span>
      </a>
    </div>

    <ul>
      <li><a href="/">Startseite</a></li>
      <li><a href="/portfolio.html">Portfolio</a></li>
      <li><a href="/blog.html" class="current">Blog</a></li>
      <li><a href="/resources.html">Ressourcen</a></li>
    </ul>
  </nav>
</header>

<main>
  <section class="tag-section">
    {% include back-button.html path='../tags.html' text='Zurück zu allen Tags' %}

    <article class="article">
      <header class="article-header article-header--tag">
        <h1 class="tag tag--tag-page tag--no-hover">{{ page.title }}</h1>
      </header>

      <section class="article-text">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
          penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
          Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
          aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
          imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede
          mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum
          semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
          porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante,
          dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
          nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.
          Etiam ultricies nisi vel augue.
        </p>

        <p class="hidden">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
          penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
          Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
          aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
          imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede
          mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum
          semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
          porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante,
          dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
          nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.
          Etiam ultricies nisi vel augue.
        </p>

        <div class="tag-read-more-wrap">
          <a href="#" id="more-content" class="tag-read-more">Mehr lesen</a>
        </div>
      </section>
    </article>
  </section>

  <section class="article-suggestions">
    <section class="articles-same-tag">
      <h3>Artikel, die unter diesem Tag veröffentlicht wurden:</h3>

      {% for article-preview in page.articles-same-tag %}

        <article class="article-preview article-preview--tag">
          <header>
            <noscript class="loaded"><img src="{{ article-preview.image.src }}" srcset="{{ article-preview.image.srcset }}" alt="{{ article-preview.image.alt }}"></noscript>
            <img data-original="{{ article-preview.image.src }}" data-original-set="{{ article-preview.image.srcset }}" alt="{{ article-preview.image.alt }}">

            <a href="{{ article-preview.url }}" class="article-preview-overlay">
              <h3 class="article-preview-heading">{{ article-preview.title }}</h3>
            </a>
          </header>

          <section class="article-preview-text">
            <p>
              {{ article-preview.preview-text }}
            </p>
          </section>

          <footer>
            <time datetime="{{ article-preview.date }}" class="date">{{ article-preview.date_string }}</time>

            <a href="{{ article-preview.url }}" class="cta cta--read-more">Mehr lesen</a>
          </footer>
        </article>

      {% endfor %}

    </section>

    <section class="related-tags-section">
      <section class="related-tags">
        <h3>Verwandte Tags:</h3>

        <div class="tags-container">
          {% for tag in page.related-tags %}
            <a href="{{ tag.url }}" class="tag tag--related-tags">{{ tag.title }}</a>
          {% endfor %}
        </div>
      </section>

      <section class="articles-related-tags">
        <h3>Artikel, die unter verwandten Tags veröffentlicht wurden:</h3>

        {% for article-preview in page.articles-related-tags %}

          <article class="article-preview article-preview--tag">
            <header>
              <noscript class="loaded"><img src="{{ article-preview.image.src }}" srcset="{{ article-preview.image.srcset }}" alt="{{ article-preview.image.alt }}"></noscript>
              <img data-original="{{ article-preview.image.src }}" data-original-set="{{ article-preview.image.srcset }}" alt="{{ article-preview.image.alt }}">

              <a href="{{ article-preview.url }}" class="article-preview-overlay">
                <h3 class="article-preview-heading">{{ article-preview.title }}</h3>
              </a>
            </header>

            <section class="article-preview-text">
              <p>
                {{ article-preview.preview-text }}
              </p>
            </section>

            <footer>
              <time datetime="{{ article-preview.date }}" class="date">{{ article-preview.date_string }}</time>

              <a href="{{ article-preview.url }}" class="cta cta--read-more">Mehr lesen</a>
            </footer>
          </article>

        {% endfor %}
      </section>
    </section>
  </section>
</main>

<footer class="footer footer--white">
  <div class="footer-logo-nav-container">
    <a href="/" class="logo" title="jr-cologne.de Logo"></a>

    <nav class="nav nav--footer">
      <ul>
        <li><a href="/">Startseite</a></li>
        <li><a href="/portfolio.html">Portfolio</a></li>
        <li><a href="/blog.html" class="current">Blog</a></li>
        <li><a href="/resources.html">Ressourcen</a></li>
      </ul>
    </nav>
  </div>

  <nav class="nav nav--legal">
    <ul>
      <li><a href="/impressum.html">Impressum</a></li>
      <li><a href="/datenschutz.html">Datenschutz</a></li>
    </ul>
  </nav>
</footer>
