<!DOCTYPE html>
<html lang="de">
  <head>
    {% include head.html stylesheet='blog' %}

    <script type="application/ld+json">
      [
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [
            {
              "@type": "ListItem",
              "position": 1,
              "item": {
                "@id": "{{ site.url }}/{{ page.canonical }}",
                "name": "{{ page.title }}"
              }
            }
          ]
        },
        {
          "@context": "http://schema.org",
          "@type": "ItemList",
          "itemListElement": [
            {% for post in site.posts %}
              {
                "@type": "ListItem",
                "position": {{ forloop.index }},
                "url": "{{ site.url }}{{ post.url }}"
              },
            {% endfor %}
          ]
        }
      ]
    </script>

    <meta property="og:title" content="{{ site.title }} - {{ page.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="https://res.cloudinary.com/jr-cologne-de/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_1920/welcome-section-bg.jpg">
    <meta property="og:url" content="{{ site.url }}/{{ page.canonical }}">
    <meta property="og:type" content="blog">
  </head>
  <body id="top">
    {% include js-deactivated-box.html %}

    {{ content }}

    {% include lazyload.html %}

    {% include foot.html %}
  </body>
</html>
