<!DOCTYPE html>
<html lang="de">
  <head>
    {% include head.html stylesheet='index' %}
  </head>
  <body>
    {{ content }}

    <!-- rellax (https://github.com/dixonandmoe/rellax) -->
    <script src="_app/assets/js/rellax.js"></script>

    <!-- smooth-scroll (https://github.com/GabrielDelepine/smooth-scroll) -->
    <script src="_app/assets/js/smooth-scroll.js"></script>

    <!-- app.js -->
    <script src="_app/assets/js/parallax.js"></script>

    {% include foot.html %}
  </body>
</html>
