<!DOCTYPE html>
<html lang="de">
  <head>
    {% include head.html stylesheet='index' %}

    <meta property="og:title" content="{{ site.title }} - {{ page.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="https://res.cloudinary.com/jr-cologne-de/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_1920/welcome-section-bg.jpg">
    <meta property="og:url" content="{{ site.url }}/{{ page.canonical }}">
    <meta property="og:type" content="website">
  </head>
  <body id="top">
    {% include js-deactivated-box.html %}

    {{ content }}

    <!-- index-secondary.css -->
    <link type="text/css" href="_app/assets/css/index-secondary.css" rel="stylesheet">

    {% include lazyload.html %}

    <!-- rellax (https://github.com/dixonandmoe/rellax) -->
    <script async src="node_modules/rellax/rellax.min.js"></script>

    <!-- parallax.js -->
    <script async src="_app/assets/js/parallax.js"></script>

    {% include foot.html %}
  </body>
</html>
