<!DOCTYPE html>
<html lang="de">
  <head>
    {% include head.html stylesheet='post' %}

    <meta property="og:title" content="{{ site.title }} - {{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="{{ page.image }}">
    <meta property="og:url" content="{{ site.url }}/{{ page.canonical }}">
    <meta property="og:type" content="article">
  </head>
  <body>
    {% include js-deactivated-box.html %}

    {{ content }}

    <!-- article-image.js -->
    <script async src="../_app/assets/js/article-image.js"></script>

    {% include lazyload.html %}

    {% include foot.html %}
  </body>
</html>
