<!DOCTYPE html>
<html lang="de">
  <head>
    {% include head.html stylesheet='tag-page' %}

    <meta property="og:title" content="{{ site.title }} - {{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:url" content="{{ site.url }}/{{ page.canonical }}">
    <meta property="og:type" content="article">
  </head>
  <body id="top">
    {% include js-deactivated-box.html %}

    {{ content }}

    <!-- more-content.js -->
    <script async src="../_app/assets/js/more-content.js"></script>

    {% include lazyload.html %}

    {% include foot.html %}
  </body>
</html>
