///// Helpers /////
// Vars //
@import 'helpers/_vars'
// Mixins //
@import 'helpers/_mixins'

///// Base /////
// Normalize.css //
@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css'
// Own Base Styles //
@import 'base/_base'

///// Modules /////
// Logo //
@import 'modules/_logo'
// Navigation //
@import 'modules/_navigation'
// Call To Action Button //
@import 'modules/_cta'
// Section Heading //
@import 'modules/_section-heading'
// Skill //
@import 'modules/_skill.sass'
// Article Preview //
@import 'modules/_article-preview'
// Portfolio Card //
@import 'modules/_portfolio-card'
// Tag //
@import 'modules/_tag'
// Back Button //
@import 'modules/_back-button'
// Article Header //
@import 'modules/_article-header'
// Article Content Image //
@import 'modules/_article-content-image'
// Blockquote //
@import 'modules/_blockquote'

///// Partials /////
// Header //
@import 'partials/_header'
// Footer //
@import 'partials/_footer'

///// Standard/Global Styles /////
main
  padding: 0 5% 6% 5%

article p
  margin-bottom: 4%

article p:last-child
  margin-bottom: 0

.article
  .article-text
    max-width: 1200px
    margin: auto

    ul, ol
      margin-bottom: 4%

      &:last-child
        margin-bottom: 0

    ul, ol
      list-style-position: inside

      li
        padding: 1% 0

      ul, ol
        margin-bottom: 0
        padding: 0
        padding-left: 3%

    blockquote p
      margin-bottom: 0

///// Media Queries /////
@import 'media/_media_style'
