///// Helpers /////
// Vars //
@import 'helpers/_vars'
@import 'helpers/_mixins'

///// Base /////
// Base //
@import 'base/_base.sass'

///// Partials /////
// Footer
@import 'partials/_footer'

///// Standard Styles /////
.wrapper
  overflow: hidden
  min-height: 100%
  max-width: 1480px
  margin: 0 auto
  padding-top: 4%

main
  margin-top: 6%
  font-size: 1.5rem

///// Media Queries /////
@import 'media/_media_style'
