@media only screen and (max-width: 1024px)
  .welcome-section
    height: calc(100vh - 120px)

@media only screen and (max-width: 860px)
  .welcome-section
    height: calc(100vh - 126px)

@media only screen and (max-width: 600px)
  .welcome-section
    height: calc(100vh - 135px)

    .welcome-text
      font-size: 3rem

    h1
      font-size: 3.5rem

@media only screen and (max-width: 500px)
  .welcome-section
    .welcome-text
      font-size: 2.5rem

    h1
      font-size: 3rem

@media only screen and (max-width: 400px)
  .welcome-section
    height: calc(100vh - 144px)
