@media only screen and (max-width: 1700px)
  .cta
    width: 25%

    &.cta--large
      width: 28%

@media only screen and (max-width: 1400px)
  .cta
    width: 30%

    &.cta--large
      width: 33%

@media only screen and (max-width: 1200px)
  .cta
    width: 35%

    &.cta--large
      width: 38%

@media only screen and (max-width: 1024px)
  .cta
    width: 40%

    &.cta--large
      width: 43%

@media only screen and (max-width: 950px)
  .cta.cta--large
    width: 50%

@media only screen and (max-width: 860px)
  .cta
    width: 50%

@media only screen and (max-width: 790px)
  .cta.cta--large
    width: 58%

@media only screen and (max-width: 700px)
  .cta
    width: 60%

    &.cta--large
      width: 65%

@media only screen and (max-width: 650px)
  .cta.cta--large
    width: 72%

@media only screen and (max-width: 600px)
  .cta
    width: 70%

    &.cta--large
      width: 82%

@media only screen and (max-width: 500px)
  .cta
    width: 80%

    &.cta--large
      width: 84%

@media only screen and (max-width: 450px)
  .cta
    width: 90%

    &.cta--large
      width: 89%

@media only screen and (max-width: 380px)
  .cta.cta--large
    width: 92%
