@media only screen and (max-width: 1700px)
  .article-preview.article-preview--tag
    width: 45%

@media only screen and (max-width: 1600px)
  .article-preview
    width: 100%
    margin-bottom: 5%

    &:last-child
      margin-bottom: 0

    &.article-preview--all, &.article-preview--all:nth-last-child(2), &.article-preview--all:nth-last-child(2):nth-child(even), &.article-preview--tag
      margin-bottom: 6%

    &.article-preview--tag
      width: 80%

@media only screen and (max-width: 1024px)
  .article-preview
    margin-bottom: 6%

    &.article-preview--all, &.article-preview--all:nth-last-child(2), &.article-preview--all:nth-last-child(2):nth-child(even), &.article-preview--tag
      margin-bottom: 7%

    &.article-preview--tag
      width: 100%

@media only screen and (max-width: 700px)
  .article-preview
    margin-bottom: 7%

    &.article-preview--all, &.article-preview--all:nth-last-child(2), &.article-preview--all:nth-last-child(2):nth-child(even), &.article-preview--tag
      margin-bottom: 8%

@media only screen and (max-width: 500px)
  .article-preview
    margin-bottom: 8%

    &.article-preview--all, &.article-preview--all:nth-last-child(2), &.article-preview--all:nth-last-child(2):nth-child(even), &.article-preview--tag
      margin-bottom: 9%

@media only screen and (max-width: 400px)
  .article-preview
    margin-bottom: 9%

    &.article-preview--all, &.article-preview--all:nth-last-child(2), &.article-preview--all:nth-last-child(2):nth-child(even), &.article-preview--tag
      margin-bottom: 10%

@media only screen and (max-width: 360px)
  .article-preview
    .article-preview-text, footer
      padding: 5%
