@media only screen and (max-width: 1600px)
  .wrapper
    width: 80%

@media only screen and (max-width: 1024px)
  .wrapper
    width: 90%

@media only screen and (max-width: 775px)
  .wrapper
    width: 95%

@media only screen and (max-width: 500px)
  html, body
    font-size: 80%

@media only screen and (max-width: 400px)
  html, body
    font-size: 75%
